<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

   <div class="uk-section uk-flex uk-animation-fade" uk-height-viewport>
    <div class="uk-container">
      <% if (errorMessage) { %>
        <div class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p><%= errorMessage %></p>
        </div>
      <% } %>
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-body">
          <h3 class="uk-text-center ui-card-title">Reset Password</h3>
          <form action="/reset-password" method="POST">
            <div class="uk-margin">
              <div class="ui-text-field">Email</div>
              <input name="email" id="email" class="ui-input uk-input uk-form-medium" type="text">
            </div>
            <div class="uk-margin uk-text-center">
              <button class="uk-button uk-button-primary uk-text-capitalize" type="submit">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
      <div class="uk-tile uk-tile-muted">
        <p class="uk-h4">Instructions for resetting your password will be sent to the email you provided.</p>
      </div>
    </div>
  </div>
<%- include('../includes/end.ejs') %>