$sourceThumbsPath: 'assets/source-thumbs';
.mynah-source-thumbnail {
    background-image: url(#{$sourceThumbsPath}/web.svg);
    &.aws {
        background-image: url(#{$sourceThumbsPath}/aws.svg);
    }
    &.StackOverflow {
        background-image: url(#{$sourceThumbsPath}/stackoverflow.svg);
    }
    &.Github {
        background-image: url(#{$sourceThumbsPath}/github.svg);
    }
}
