{
    "version":"2.0",
    "metadata":{
        "apiVersion":"2022-06-15",
        "endpointPrefix":"codewhisperer",
        "jsonVersion":"1.0",
        "protocol":"json",
        "serviceFullName":"AWS CodeWhisperer",
        "serviceId":"CodeWhisperer",
        "signatureVersion":"v4",
        "signingName":"codewhisperer",
        "targetPrefix":"AWSCodeWhispererService",
        "uid":"codewhisperer-2022-06-15"
    },
    "operations":{
        "CreateCodeScan":{
            "name":"CreateCodeScan",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"CreateCodeScanRequest"},
            "output":{"shape":"CreateCodeScanResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"ConflictException"},
                {"shape":"ResourceNotFoundException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ],
            "idempotent":true
        },
        "CreateCodeScanUploadUrl":{
            "name":"CreateCodeScanUploadUrl",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"CreateUploadUrlRequest"},
            "output":{"shape":"CreateUploadUrlResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ],
            "idempotent":true
        },
        "GenerateRecommendations":{
            "name":"GenerateRecommendations",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"GenerateRecommendationsRequest"},
            "output":{"shape":"GenerateRecommendationsResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        },
        "GetAccessToken":{
            "name":"GetAccessToken",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"GetAccessTokenRequest"},
            "output":{"shape":"GetAccessTokenResponse"},
            "errors":[
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        },
        "GetCodeScan":{
            "name":"GetCodeScan",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"GetCodeScanRequest"},
            "output":{"shape":"GetCodeScanResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"ResourceNotFoundException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        },
        "ListCodeScanFindings":{
            "name":"ListCodeScanFindings",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"ListCodeScanFindingsRequest"},
            "output":{"shape":"ListCodeScanFindingsResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"ResourceNotFoundException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        },
        "ListRecommendations":{
            "name":"ListRecommendations",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"ListRecommendationsRequest"},
            "output":{"shape":"ListRecommendationsResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        }
    },
    "shapes":{
        "AccessDeniedException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        },
        "ArtifactMap":{
            "type":"map",
            "key":{"shape":"ArtifactType"},
            "value":{"shape":"UploadId"},
            "max":64,
            "min":1
        },
        "ArtifactType":{
            "type":"string",
            "enum":[
                "SourceCode",
                "BuiltJars"
            ]
        },
        "CodeAnalysisScope":{
            "type":"string",
            "enum":[
                "FILE",
                "PROJECT"
            ]
        },
        "CodeAnalysisUploadContext": {
            "type": "structure",
            "required": ["codeScanName"],
            "members": {
                "codeScanName": { "shape": "CodeScanName" }
            }
        },
        "CodeScanFindingsSchema":{
            "type":"string",
            "enum":["codescan/findings/1.0"]
        },
        "CodeScanName":{
            "type": "string",
            "documentation": "<p>Code analysis scan name</p>",
            "max":128,
            "min":1
        },
        "CodeScanStatus":{
            "type":"string",
            "enum":[
                "Completed",
                "Pending",
                "Failed"
            ]
        },
        "ConflictException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        },
        "ContentChecksumType":{
            "type":"string",
            "enum":["SHA_256"]
        },
        "ConversationId":{
            "type":"string",
            "max":128,
            "min":1
        },
        "CreateCodeScanRequest":{
            "type":"structure",
            "required":[
                "artifacts",
                "programmingLanguage"
            ],
            "members":{
                "artifacts":{"shape":"ArtifactMap"},
                "programmingLanguage":{"shape":"ProgrammingLanguage"},
                "clientToken":{
                    "shape":"CreateCodeScanRequestClientTokenString",
                    "idempotencyToken":true
                },
                "scope":{"shape": "CodeAnalysisScope"},
                "codeScanName": {"shape":  "CodeScanName"}
            }
        },
        "CreateCodeScanRequestClientTokenString":{
            "type":"string",
            "max":256,
            "min":1
        },
        "CreateCodeScanResponse":{
            "type":"structure",
            "required":[
                "jobId",
                "status"
            ],
            "members":{
                "jobId":{"shape":"CreateCodeScanResponseJobIdString"},
                "status":{"shape":"CodeScanStatus"},
                "errorMessage":{"shape":"String"}
            }
        },
        "CreateCodeScanResponseJobIdString":{
            "type":"string",
            "max":256,
            "min":1
        },
        "CreateUploadUrlRequest":{
            "type":"structure",
            "required":["contentMd5"],
            "members":{
                "contentMd5":{"shape":"CreateUploadUrlRequestContentMd5String"},
                "contentChecksum":{"shape":"CreateUploadUrlRequestContentChecksumString"},
                "artifactType":{"shape":"ArtifactType"},
                "contentChecksumType":{"shape":"ContentChecksumType"},
                "contentLength":{"shape":"CreateUploadUrlRequestContentLengthLong"},
                "uploadIntent":{"shape":"UploadIntent"},
                "uploadContext":{"shape":"UploadContext"}
            }
        },
        "CreateUploadUrlRequestContentChecksumString":{
            "type":"string",
            "max":512,
            "min":1,
            "sensitive":true
        },
        "CreateUploadUrlRequestContentMd5String":{
            "type":"string",
            "max":128,
            "min":1
        },
        "CreateUploadUrlRequestContentLengthLong":{
            "type":"long",
            "box":true,
            "min":1
        },
        "CreateUploadUrlResponse":{
            "type":"structure",
            "required":[
                "uploadId",
                "uploadUrl"
            ],
            "members":{
                "uploadId":{"shape":"UploadId"},
                "uploadUrl":{"shape":"PreSignedUrl"},
                "kmsKeyArn":{"shape":"ResourceArn"},
                "requestHeaders":{"shape":"RequestHeaders"}
            }
        },
        "FileContext":{
            "type":"structure",
            "required":[
                "leftFileContent",
                "rightFileContent",
                "filename",
                "programmingLanguage"
            ],
            "members":{
                "leftFileContent":{"shape":"FileContextLeftFileContentString"},
                "rightFileContent":{"shape":"FileContextRightFileContentString"},
                "filename":{"shape":"FileContextFilenameString"},
                "programmingLanguage":{"shape":"ProgrammingLanguage"}
            }
        },
        "FileContextFilenameString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "FileContextLeftFileContentString":{
            "type":"string",
            "max":10240,
            "min":0,
            "sensitive":true
        },
        "FileContextRightFileContentString":{
            "type":"string",
            "max":10240,
            "min":0,
            "sensitive":true
        },
        "SupplementalContext": {
            "type": "structure",
            "required": ["filePath", "content"],
            "members": {
                "filePath": {
                    "shape": "SupplementalContextFilePathString"
                },
                "content": {
                    "shape": "SupplementalContextContentString"
                }
            }
        },
        "SupplementalContextFilePathString": {
            "type": "string",
            "max": 1024,
            "min": 1,
            "sensitive": true
        },
        "SupplementalContextContentString": {
            "type": "string",
            "max": 5120,
            "min": 0,
            "sensitive": true
        },
        "SupplementalContextList": {
            "type": "list",
            "member": {
                "shape": "SupplementalContext"
            },
            "max": 10,
            "min": 0
        },
        "GenerateRecommendationsRequest":{
            "type":"structure",
            "required":["fileContext"],
            "members":{
                "fileContext":{"shape":"FileContext"},
                "supplementalContexts": {"shape": "SupplementalContextList"},
                "maxResults":{
                    "shape":"GenerateRecommendationsRequestMaxResultsInteger",
                    "box":true
                },
                "referenceTrackerConfiguration":{"shape":"ReferenceTrackerConfiguration"}
            }
        },
        "GenerateRecommendationsRequestMaxResultsInteger":{
            "type":"integer",
            "max":10,
            "min":1
        },
        "GenerateRecommendationsResponse":{
            "type":"structure",
            "members":{
                "recommendations":{"shape":"RecommendationsList"}
            }
        },
        "GetAccessTokenRequest":{
            "type":"structure",
            "required":["identityToken"],
            "members":{
                "identityToken":{"shape":"GetAccessTokenRequestIdentityTokenString"}
            }
        },
        "GetAccessTokenRequestIdentityTokenString":{
            "type":"string",
            "max":1024,
            "min":0,
            "sensitive":true
        },
        "GetAccessTokenResponse":{
            "type":"structure",
            "members":{
                "accessToken":{"shape":"SensitiveString"}
            }
        },
        "GetCodeScanRequest":{
            "type":"structure",
            "required":["jobId"],
            "members":{
                "jobId":{"shape":"GetCodeScanRequestJobIdString"}
            }
        },
        "GetCodeScanRequestJobIdString":{
            "type":"string",
            "max":256,
            "min":1
        },
        "GetCodeScanResponse":{
            "type":"structure",
            "required":["status"],
            "members":{
                "status":{"shape":"CodeScanStatus"},
                "errorMessage":{"shape":"String"}
            }
        },
        "InternalServerException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true,
            "fault":true,
            "retryable":{"throttling":false}
        },
        "ListCodeScanFindingsRequest":{
            "type":"structure",
            "required":[
                "jobId",
                "codeScanFindingsSchema"
            ],
            "members":{
                "jobId":{"shape":"ListCodeScanFindingsRequestJobIdString"},
                "nextToken":{"shape":"PaginationToken"},
                "codeScanFindingsSchema":{"shape":"CodeScanFindingsSchema"}
            }
        },
        "ListCodeScanFindingsRequestJobIdString":{
            "type":"string",
            "max":256,
            "min":1
        },
        "ListCodeScanFindingsResponse":{
            "type":"structure",
            "required":["codeScanFindings"],
            "members":{
                "nextToken":{"shape":"PaginationToken"},
                "codeScanFindings":{"shape":"String"}
            }
        },
        "ListRecommendationsRequest":{
            "type":"structure",
            "required":["fileContext"],
            "members":{
                "fileContext":{"shape":"FileContext"},
                "maxResults":{
                    "shape":"ListRecommendationsRequestMaxResultsInteger",
                    "box":true
                },
                "nextToken":{"shape":"ListRecommendationsRequestNextTokenString"},
                "referenceTrackerConfiguration":{"shape":"ReferenceTrackerConfiguration"}
            }
        },
        "ListRecommendationsRequestMaxResultsInteger":{
            "type":"integer",
            "max":10,
            "min":1
        },
        "ListRecommendationsRequestNextTokenString":{
            "type":"string",
            "max":2048,
            "min":0,
            "pattern":"(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}\\=\\=|[A-Za-z0-9\\+/]{3}\\=)?"
        },
        "ListRecommendationsResponse":{
            "type":"structure",
            "members":{
                "recommendations":{"shape":"RecommendationsList"},
                "nextToken":{"shape":"String"}
            }
        },
        "PaginationToken":{
            "type":"string",
            "max":2048,
            "min":1,
            "pattern":"\\S+"
        },
        "PreSignedUrl":{
            "type":"string",
            "max":2048,
            "min":1
        },
        "ProgrammingLanguage":{
            "type":"structure",
            "required":["languageName"],
            "members":{
                "languageName":{"shape":"ProgrammingLanguageLanguageNameString"}
            }
        },
        "ProgrammingLanguageLanguageNameString":{
            "type":"string",
            "max":128,
            "min":1,
            "pattern":"(python|javascript|java|csharp|typescript)"
        },
        "Recommendation":{
            "type":"structure",
            "required":["content"],
            "members":{
                "content":{"shape":"RecommendationContentString"},
                "references":{"shape":"References"}
            }
        },
        "RecommendationContentString":{
            "type":"string",
            "max":5120,
            "min":1,
            "sensitive":true
        },
        "RecommendationsList":{
            "type":"list",
            "member":{"shape":"Recommendation"},
            "max":10,
            "min":0
        },
        "RecommendationsWithReferencesPreference":{
            "type":"string",
            "enum":[
                "BLOCK",
                "ALLOW"
            ]
        },
        "Reference":{
            "type":"structure",
            "members":{
                "licenseName":{"shape":"ReferenceLicenseNameString"},
                "repository":{"shape":"ReferenceRepositoryString"},
                "url":{"shape":"ReferenceUrlString"},
                "recommendationContentSpan":{"shape":"Span"}
            }
        },
        "ReferenceLicenseNameString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "ReferenceRepositoryString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "ReferenceTrackerConfiguration":{
            "type":"structure",
            "required":["recommendationsWithReferences"],
            "members":{
                "recommendationsWithReferences":{"shape":"RecommendationsWithReferencesPreference"}
            }
        },
        "ReferenceUrlString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "References":{
            "type":"list",
            "member":{"shape":"Reference"},
            "max":10,
            "min":0
        },
        "RequestHeaderKey": {
            "type":"string",
            "max":64,
            "min":1
        },
        "RequestHeaders": {
            "type":"map",
            "key":{"shape":"RequestHeaderKey"},
            "value":{"shape":"RequestHeaderValue"},
            "max":16,
            "min":1
        },
        "RequestHeaderValue": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "ResourceArn":{
            "type":"string",
            "max":1224,
            "min":0
        },
        "ResourceNotFoundException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        },
        "SensitiveString":{
            "type":"string",
            "sensitive":true
        },
        "Span":{
            "type":"structure",
            "members":{
                "start":{
                    "shape":"SpanStartInteger",
                    "box":true
                },
                "end":{
                    "shape":"SpanEndInteger",
                    "box":true
                }
            }
        },
        "SpanEndInteger":{
            "type":"integer",
            "min":0
        },
        "SpanStartInteger":{
            "type":"integer",
            "min":0
        },
        "String":{"type":"string"},
        "ThrottlingException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true,
            "retryable":{"throttling":false}
        },
        "TaskAssistPlanningUploadContext": {
            "type": "structure",
            "required": ["conversationId"],
            "members": {
                "conversationId": { "shape": "ConversationId" }
            }
        },
        "TransformationUploadArtifactType": {
            "type": "string",
            "enum": ["Dependencies"]
        },
        "TransformationJobId":{
            "type":"string",
            "max":128,
            "min":1
        },
        "TransformationUploadContext": {
            "type": "structure",
            "required": ["jobId", "uploadArtifactType"],
            "members": {
                "jobId": { "shape": "TransformationJobId" },
                "uploadArtifactType": { "shape": "TransformationUploadArtifactType" }
            }
        },
        "UploadContext":{
            "type":"structure",
            "members":{
                "taskAssistPlanningUploadContext": {"shape": "TaskAssistPlanningUploadContext"},
                "transformationUploadContext": {"shape": "TransformationUploadContext"},
                "codeAnalysisUploadContext": {"shape": "CodeAnalysisUploadContext"}
            },
            "union":true
        },
        "UploadId":{
            "type":"string",
            "max":128,
            "min":1
        },
        "UploadIntent":{
            "type":"string",
            "enum":[
                "TRANSFORMATION",
                "TASK_ASSIST_PLANNING",
                "AUTOMATIC_FILE_SECURITY_SCAN",
                "FULL_PROJECT_SECURITY_SCAN"
            ]
        },
        "ValidationException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        }
    }
}
