form {
    padding: 15px;
}

div {
    margin-bottom: 20px;
}

button {
    margin-right: 20px;
    margin-bottom: 15px;
}

.config-item {
    border-bottom: solid rgb(51, 51, 51) 1px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.config-details {
    margin-top: 20px;
    border: rgb(211, 130, 38) dashed 1px;
    padding: 15px;
}

.payload-section{
    padding-left: 15px;
}

.data-view {
    display: none;
    border: dashed rgb(218, 31, 31) 1px;
    color: rgb(218, 31, 31)
}

.invoke-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;
}

#form-title {
    font-size: large;
    font-weight: bold;
}