html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    background-color: var(--vscode-editor-background);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
svg {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}
form {
    position: absolute;
    z-index: 2;
}
body.vscode-dark .primary-text {
    fill: white;
}
body.vscode-light .primary-text {
    fill: black;
}
body.vscode-high-contrast .primary-text {
    fill: white;
}

body.vscode-dark .secondary-text {
    fill: #cfccc4;
}
body.vscode-light .secondary-text {
    fill: #333;
}
body.vscode-high-contrast .secondary-text {
    fill: white;
}

body.vscode-dark .visible-link {
    stroke: #cfccc4;
}
body.vscode-light .visible-link {
    stroke: #808080;
}
body.vscode-high-contrast .visible-link {
    stroke: var(--vscode-contrastActiveBorder);
}

body.vscode-dark .arrowhead path {
    fill: #cfccc4;
}
body.vscode-light .arrowhead path {
    fill: #808080;
}

body.vscode-high-contrast .arrowhead path {
    fill: var(--vscode-contrastActiveBorder);
}

.error-message {
    position: absolute;
    border: 1px solid #da6363;
    color: #da6363;
    padding: 10px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#view-logs-button {
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
}
