/*!
 * Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * Custom theming applied on top of existing styles.
 * Adds additional styles for when user has dark/light/high-contrast themes.
 * Fixes height issue in vscode webview iframe. 
 */

/*  
 * General
 */

/* Sizing CSS */
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}

#svgcontainer {
    height: 100%;
    padding: 0px;
}

/* Theming CSS Below */
body {
    background-color: var(--vscode-editor-background);
}

/* 
 * Dark Theme Styles
 */

body.vscode-dark .path {
    stroke: #d3d3d3;
    background-color: #d3d3d3;
}

body.vscode-dark path {
    stroke: #d3d3d3;
}

body.vscode-dark .node > .shape {
    fill: var(--vscode-editor-background);
    stroke: #d3d3d3;
}

body.vscode-dark .node.anchor > .shape {
    fill: #808080;
}

body.vscode-dark .label {
    fill: #ffffff;
}

body.vscode-dark marker {
    fill: #d3d3d3;
}

/*
 * High Contrast Theme Styles
 */

body.vscode-high-contrast .path {
    stroke: var(--vscode-contrastActiveBorder);
    background-color: var(--vscode-contrastActiveBorder);
}

body.vscode-high-contrast path {
    stroke: var(--vscode-contrastActiveBorder);
}

body.vscode-high-contrast .node.anchor > .shape {
    fill: var(--vscode-contrastActiveBorder);
}

body.vscode-high-contrast marker {
    fill: var(--vscode-contrastActiveBorder);
}
