{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-15",
        "endpointPrefix": "codewhisperer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS CodeWhisperer",
        "serviceId": "CodeWhisperer",
        "signatureVersion": "v4",
        "signingName": "codewhisperer",
        "targetPrefix": "AWSCodeWhispererService",
        "uid": "codewhisperer-2022-06-15"
    },
    "operations": {
        "CreateCodeScan": {
            "name": "CreateCodeScan",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateCodeScanRequest"
            },
            "output": {
                "shape": "CreateCodeScanResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "documentation": "<p>Creates a code scan job</p>",
            "idempotent": true
        },
        "CreateUploadUrl": {
            "name": "CreateUploadUrl",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateUploadUrlRequest"
            },
            "output": {
                "shape": "CreateUploadUrlResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "documentation": "<p>Creates a pre-signed, S3 write URL for uploading a repository zip archive.</p>",
            "idempotent": true
        },
        "GenerateRecommendations": {
            "name": "GenerateRecommendations",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GenerateRecommendationsRequest"
            },
            "output": {
                "shape": "GenerateRecommendationsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "documentation": "<p>Generates recommendations based on the provided file context.</p>"
        },
        "GetAccessToken": {
            "name": "GetAccessToken",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetAccessTokenRequest"
            },
            "output": {
                "shape": "GetAccessTokenResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "documentation": "<p>Vends an access token, based on the provided identity token, to enable usage of the other CodeWhisperer APIs.</p>"
        },
        "GetCodeScan": {
            "name": "GetCodeScan",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetCodeScanRequest"
            },
            "output": {
                "shape": "GetCodeScanResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "documentation": "<p>Gets the metadata of a code scan job.</p>"
        },
        "ListCodeScanFindings": {
            "name": "ListCodeScanFindings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ListCodeScanFindingsRequest"
            },
            "output": {
                "shape": "ListCodeScanFindingsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "documentation": "<p>Lists the findings from a particular code scan job.</p>"
        },
        "ListRecommendations": {
            "name": "ListRecommendations",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ListRecommendationsRequest"
            },
            "output": {
                "shape": "ListRecommendationsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "documentation": "<p>Lists recommendations based on the provided file context in a paginated response.</p>"
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when the user does not have sufficient access to perform this action.</p>",
            "exception": true
        },
        "ArtifactMap": {
            "type": "map",
            "key": {
                "shape": "ArtifactType"
            },
            "value": {
                "shape": "UploadId"
            },
            "max": 64,
            "min": 1
        },
        "ArtifactType": {
            "type": "string",
            "enum": ["SourceCode", "BuiltJars"]
        },
        "CodeScanFindingsSchema": {
            "type": "string",
            "enum": ["codescan/findings/1.0"]
        },
        "CodeScanStatus": {
            "type": "string",
            "enum": ["Completed", "Pending", "Failed"]
        },
        "ConflictException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when the action to perform could not be completed because the resource is in a conflicting state.</p>",
            "exception": true
        },
        "CreateCodeScanRequest": {
            "type": "structure",
            "required": ["artifacts", "programmingLanguage"],
            "members": {
                "artifacts": {
                    "shape": "ArtifactMap"
                },
                "programmingLanguage": {
                    "shape": "ProgrammingLanguage"
                },
                "clientToken": {
                    "shape": "CreateCodeScanRequestClientTokenString",
                    "idempotencyToken": true
                }
            }
        },
        "CreateCodeScanRequestClientTokenString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "CreateCodeScanResponse": {
            "type": "structure",
            "required": ["jobId", "status"],
            "members": {
                "jobId": {
                    "shape": "CreateCodeScanResponseJobIdString"
                },
                "status": {
                    "shape": "CodeScanStatus"
                },
                "errorMessage": {
                    "shape": "String"
                }
            }
        },
        "CreateCodeScanResponseJobIdString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "CreateUploadUrlRequest": {
            "type": "structure",
            "required": ["contentMd5", "artifactType"],
            "members": {
                "contentMd5": {
                    "shape": "CreateUploadUrlRequestContentMd5String"
                },
                "artifactType": {
                    "shape": "ArtifactType"
                }
            }
        },
        "CreateUploadUrlRequestContentMd5String": {
            "type": "string",
            "max": 128,
            "min": 1
        },
        "CreateUploadUrlResponse": {
            "type": "structure",
            "required": ["uploadId", "uploadUrl"],
            "members": {
                "uploadId": {
                    "shape": "UploadId"
                },
                "uploadUrl": {
                    "shape": "PreSignedUrl"
                }
            }
        },
        "FileContext": {
            "type": "structure",
            "required": ["leftFileContent", "rightFileContent", "filename", "programmingLanguage"],
            "members": {
                "leftFileContent": {
                    "shape": "FileContextLeftFileContentString"
                },
                "rightFileContent": {
                    "shape": "FileContextRightFileContentString"
                },
                "filename": {
                    "shape": "FileContextFilenameString"
                },
                "programmingLanguage": {
                    "shape": "ProgrammingLanguage"
                }
            }
        },
        "FileContextFilenameString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "FileContextLeftFileContentString": {
            "type": "string",
            "max": 10240,
            "min": 0,
            "sensitive": true
        },
        "FileContextRightFileContentString": {
            "type": "string",
            "max": 10240,
            "min": 0,
            "sensitive": true
        },
        "GenerateRecommendationsRequest": {
            "type": "structure",
            "required": ["fileContext"],
            "members": {
                "fileContext": {
                    "shape": "FileContext"
                },
                "maxResults": {
                    "shape": "GenerateRecommendationsRequestMaxResultsInteger"
                }
            }
        },
        "GenerateRecommendationsRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 10,
            "min": 1
        },
        "GenerateRecommendationsResponse": {
            "type": "structure",
            "members": {
                "recommendations": {
                    "shape": "RecommendationsList"
                }
            }
        },
        "GetAccessTokenRequest": {
            "type": "structure",
            "required": ["identityToken"],
            "members": {
                "identityToken": {
                    "shape": "GetAccessTokenRequestIdentityTokenString"
                }
            }
        },
        "GetAccessTokenRequestIdentityTokenString": {
            "type": "string",
            "max": 1024,
            "min": 0,
            "sensitive": true
        },
        "GetAccessTokenResponse": {
            "type": "structure",
            "members": {
                "accessToken": {
                    "shape": "SensitiveString"
                }
            }
        },
        "GetCodeScanRequest": {
            "type": "structure",
            "required": ["jobId"],
            "members": {
                "jobId": {
                    "shape": "GetCodeScanRequestJobIdString"
                }
            }
        },
        "GetCodeScanRequestJobIdString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "GetCodeScanResponse": {
            "type": "structure",
            "required": ["status"],
            "members": {
                "status": {
                    "shape": "CodeScanStatus"
                },
                "errorMessage": {
                    "shape": "String"
                }
            }
        },
        "InternalServerException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when an unexpected error occurred during the processing of a request.</p>",
            "exception": true,
            "fault": true,
            "retryable": {
                "throttling": false
            }
        },
        "ListCodeScanFindingsRequest": {
            "type": "structure",
            "required": ["jobId", "codeScanFindingsSchema"],
            "members": {
                "jobId": {
                    "shape": "ListCodeScanFindingsRequestJobIdString"
                },
                "nextToken": {
                    "shape": "PaginationToken"
                },
                "codeScanFindingsSchema": {
                    "shape": "CodeScanFindingsSchema"
                }
            }
        },
        "ListCodeScanFindingsRequestJobIdString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "ListCodeScanFindingsResponse": {
            "type": "structure",
            "required": ["codeScanFindings"],
            "members": {
                "nextToken": {
                    "shape": "PaginationToken"
                },
                "codeScanFindings": {
                    "shape": "String"
                }
            }
        },
        "ListRecommendationsRequest": {
            "type": "structure",
            "required": ["fileContext"],
            "members": {
                "fileContext": {
                    "shape": "FileContext"
                },
                "maxResults": {
                    "shape": "ListRecommendationsRequestMaxResultsInteger"
                },
                "nextToken": {
                    "shape": "ListRecommendationsRequestNextTokenString"
                }
            },
            "documentation": "<p>Next Token: { UserIdentifier: { type: &lt;SSO | IAM | ACCT_LESS | SONO&gt; tokenId: <string> }, SessionIdentifier: <UUID-string>, NextRecommendationIndex: <int>, VersionId: <int>, CreationTimeInMillis: <long> } We don't pass NextToken object as it is to MH APIs, instead only fields which are required. The idea is to treat NextToken as ReadOnly to avoid NextToken mutation at multiple places. RTS should be the sole source of NextToken. MH needs userIdentifier, sessionIdentifier and nextRecommendationIndex only, we pass <code>nextRecommendationIndex</code> as it is and the 1st two as a different object all together, requestIdentifier: { userId: hash(UserIdentifier), sessionId: <SessionIdentifier> } In request path, RTS will base64 decode, decrypt and json deserialize <code>nextToken</code>. Then it will extract fields of <code>requestIdentifier</code> and <code>nextRecommendationIndex</code> as only these fileds are required on MH side and receive back recommendations. The idea is to treat NextToken as readonly on MH side to avoid accidental modifications to NextToken</p>"
        },
        "ListRecommendationsRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 10,
            "min": 1
        },
        "ListRecommendationsRequestNextTokenString": {
            "type": "string",
            "max": 2048,
            "min": 0,
            "pattern": "(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}\\=\\=|[A-Za-z0-9\\+/]{3}\\=)?"
        },
        "ListRecommendationsResponse": {
            "type": "structure",
            "members": {
                "recommendations": {
                    "shape": "RecommendationsList"
                },
                "nextToken": {
                    "shape": "String"
                }
            }
        },
        "PaginationToken": {
            "type": "string",
            "max": 2048,
            "min": 1,
            "pattern": "\\S+"
        },
        "PreSignedUrl": {
            "type": "string",
            "max": 2048,
            "min": 1
        },
        "ProgrammingLanguage": {
            "type": "structure",
            "required": ["languageName"],
            "members": {
                "languageName": {
                    "shape": "ProgrammingLanguageLanguageNameString"
                }
            }
        },
        "ProgrammingLanguageLanguageNameString": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "(python|javascript|java)"
        },
        "Recommendation": {
            "type": "structure",
            "required": ["content"],
            "members": {
                "content": {
                    "shape": "RecommendationContentString"
                },
                "references": {
                    "shape": "References"
                }
            }
        },
        "RecommendationContentString": {
            "type": "string",
            "max": 5120,
            "min": 1,
            "sensitive": true
        },
        "RecommendationsList": {
            "type": "list",
            "member": {
                "shape": "Recommendation"
            },
            "max": 10,
            "min": 0
        },
        "Reference": {
            "type": "structure",
            "members": {
                "licenseName": {
                    "shape": "ReferenceLicenseNameString"
                },
                "repository": {
                    "shape": "ReferenceRepositoryString"
                },
                "url": {
                    "shape": "ReferenceUrlString"
                },
                "recommendationContentSpan": {
                    "shape": "Span"
                }
            }
        },
        "ReferenceLicenseNameString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "ReferenceRepositoryString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "ReferenceUrlString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "References": {
            "type": "list",
            "member": {
                "shape": "Reference"
            },
            "max": 10,
            "min": 0
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when describing a resource that does not exist.</p>",
            "exception": true
        },
        "SensitiveString": {
            "type": "string",
            "sensitive": true
        },
        "Span": {
            "type": "structure",
            "members": {
                "start": {
                    "shape": "SpanStartInteger"
                },
                "end": {
                    "shape": "SpanEndInteger"
                }
            }
        },
        "SpanEndInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "SpanStartInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "String": {
            "type": "string"
        },
        "ThrottlingException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when request was denied due to request throttling.</p>",
            "exception": true,
            "retryable": {
                "throttling": false
            }
        },
        "UploadId": {
            "type": "string",
            "max": 128,
            "min": 1
        },
        "ValidationException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when the input fails to satisfy the constraints specified by the service.</p>",
            "exception": true
        }
    }
}
