{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-06-15",
        "endpointPrefix": "codewhisperer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS CodeWhisperer",
        "serviceId": "CodeWhisperer",
        "signatureVersion": "v4",
        "signingName": "codewhisperer",
        "targetPrefix": "AWSCodeWhispererService",
        "uid": "codewhisperer-2022-06-15"
    },
    "operations": {
        "CreateCodeScan": {
            "name": "CreateCodeScan",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateCodeScanRequest"
            },
            "output": {
                "shape": "CreateCodeScanResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true
        },
        "CreateCodeScanUploadUrl": {
            "name": "CreateCodeScanUploadUrl",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateUploadUrlRequest"
            },
            "output": {
                "shape": "CreateUploadUrlResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ],
            "idempotent": true
        },
        "CreateProfile": {
            "name": "CreateProfile",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateProfileRequest"
            },
            "output": {
                "shape": "CreateProfileResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "DeleteProfile": {
            "name": "DeleteProfile",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "DeleteProfileRequest"
            },
            "output": {
                "shape": "DeleteProfileResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "GenerateRecommendations": {
            "name": "GenerateRecommendations",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GenerateRecommendationsRequest"
            },
            "output": {
                "shape": "GenerateRecommendationsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "GetAccessToken": {
            "name": "GetAccessToken",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetAccessTokenRequest"
            },
            "output": {
                "shape": "GetAccessTokenResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "GetCodeScan": {
            "name": "GetCodeScan",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetCodeScanRequest"
            },
            "output": {
                "shape": "GetCodeScanResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "ListCodeScanFindings": {
            "name": "ListCodeScanFindings",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ListCodeScanFindingsRequest"
            },
            "output": {
                "shape": "ListCodeScanFindingsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "ListProfiles": {
            "name": "ListProfiles",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ListProfilesRequest"
            },
            "output": {
                "shape": "ListProfilesResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "ListRecommendations": {
            "name": "ListRecommendations",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ListRecommendationsRequest"
            },
            "output": {
                "shape": "ListRecommendationsResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ListTagsForResourceRequest"
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "TagResource": {
            "name": "TagResource",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "TagResourceRequest"
            },
            "output": {
                "shape": "TagResourceResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "UntagResource": {
            "name": "UntagResource",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "UntagResourceRequest"
            },
            "output": {
                "shape": "UntagResourceResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        },
        "UpdateProfile": {
            "name": "UpdateProfile",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "UpdateProfileRequest"
            },
            "output": {
                "shape": "UpdateProfileResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "AccessDeniedException"
                }
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "ArtifactMap": {
            "type": "map",
            "key": {
                "shape": "ArtifactType"
            },
            "value": {
                "shape": "UploadId"
            },
            "max": 64,
            "min": 1
        },
        "ArtifactType": {
            "type": "string",
            "enum": ["SourceCode", "BuiltJars"]
        },
        "Base64EncodedPaginationToken": {
            "type": "string",
            "max": 2048,
            "min": 1,
            "pattern": "(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}\\=\\=|[A-Za-z0-9\\+/]{3}\\=)?"
        },
        "CodeScanFindingsSchema": {
            "type": "string",
            "enum": ["codescan/findings/1.0"]
        },
        "CodeScanStatus": {
            "type": "string",
            "enum": ["Completed", "Pending", "Failed"]
        },
        "ConflictException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "CreateCodeScanRequest": {
            "type": "structure",
            "required": ["artifacts", "programmingLanguage"],
            "members": {
                "artifacts": {
                    "shape": "ArtifactMap"
                },
                "programmingLanguage": {
                    "shape": "ProgrammingLanguage"
                },
                "clientToken": {
                    "shape": "CreateCodeScanRequestClientTokenString",
                    "idempotencyToken": true
                }
            }
        },
        "CreateCodeScanRequestClientTokenString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "CreateCodeScanResponse": {
            "type": "structure",
            "required": ["jobId", "status"],
            "members": {
                "jobId": {
                    "shape": "CreateCodeScanResponseJobIdString"
                },
                "status": {
                    "shape": "CodeScanStatus"
                },
                "errorMessage": {
                    "shape": "String"
                }
            }
        },
        "CreateCodeScanResponseJobIdString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "CreateProfileRequest": {
            "type": "structure",
            "required": ["identitySource", "profileName", "referenceTrackerConfiguration"],
            "members": {
                "identitySource": {
                    "shape": "IdentitySource"
                },
                "profileName": {
                    "shape": "ProfileName"
                },
                "referenceTrackerConfiguration": {
                    "shape": "ReferenceTrackerConfiguration"
                },
                "clientToken": {
                    "shape": "IdempotencyToken",
                    "idempotencyToken": true
                },
                "kmsKeyArn": {
                    "shape": "ResourceArn"
                },
                "tags": {
                    "shape": "TagList"
                }
            }
        },
        "CreateProfileResponse": {
            "type": "structure",
            "required": ["profileArn"],
            "members": {
                "profileArn": {
                    "shape": "ResourceArn"
                }
            }
        },
        "CreateUploadUrlRequest": {
            "type": "structure",
            "members": {
                "contentMd5": {
                    "shape": "CreateUploadUrlRequestContentMd5String"
                },
                "artifactType": {
                    "shape": "ArtifactType"
                }
            }
        },
        "CreateUploadUrlRequestContentMd5String": {
            "type": "string",
            "max": 128,
            "min": 1
        },
        "CreateUploadUrlResponse": {
            "type": "structure",
            "required": ["uploadId", "uploadUrl"],
            "members": {
                "uploadId": {
                    "shape": "UploadId"
                },
                "uploadUrl": {
                    "shape": "PreSignedUrl"
                },
                "kmsKeyArn": {
                    "shape": "ResourceArn"
                }
            }
        },
        "DeleteProfileRequest": {
            "type": "structure",
            "required": ["profileArn"],
            "members": {
                "profileArn": {
                    "shape": "ResourceArn"
                }
            }
        },
        "DeleteProfileResponse": {
            "type": "structure",
            "members": {}
        },
        "FileContext": {
            "type": "structure",
            "required": ["leftFileContent", "rightFileContent", "filename", "programmingLanguage"],
            "members": {
                "leftFileContent": {
                    "shape": "FileContextLeftFileContentString"
                },
                "rightFileContent": {
                    "shape": "FileContextRightFileContentString"
                },
                "filename": {
                    "shape": "FileContextFilenameString"
                },
                "programmingLanguage": {
                    "shape": "ProgrammingLanguage"
                }
            }
        },
        "FileContextFilenameString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "FileContextLeftFileContentString": {
            "type": "string",
            "max": 10240,
            "min": 0,
            "sensitive": true
        },
        "FileContextRightFileContentString": {
            "type": "string",
            "max": 10240,
            "min": 0,
            "sensitive": true
        },
        "SupplementalContext": {
            "type": "structure",
            "required": ["filePath", "content"],
            "members": {
                "filePath": {
                    "shape": "SupplementalContextFilePathString"
                },
                "content": {
                    "shape": "SupplementalContextContentString"
                }
            }
        },
        "SupplementalContextFilePathString": {
            "type": "string",
            "max": 1024,
            "min": 1,
            "sensitive": true
        },
        "SupplementalContextContentString": {
            "type": "string",
            "max": 5120,
            "min": 0,
            "sensitive": true
        },
        "SupplementalContextList": {
            "type": "list",
            "member": {
                "shape": "SupplementalContext"
            },
            "max": 10,
            "min": 0
        },
        "GenerateRecommendationsRequest": {
            "type": "structure",
            "required": ["fileContext"],
            "members": {
                "fileContext": {
                    "shape": "FileContext"
                },
                "supplementalContexts": {
                    "shape": "SupplementalContextList"
                },
                "maxResults": {
                    "shape": "GenerateRecommendationsRequestMaxResultsInteger"
                },
                "nextToken": {
                    "shape": "GenerateRecommendationsRequestNextTokenString"
                },
                "referenceTrackerConfiguration": {
                    "shape": "ReferenceTrackerConfiguration"
                }
            }
        },
        "GenerateRecommendationsRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 10,
            "min": 1
        },
        "GenerateRecommendationsRequestNextTokenString": {
            "type": "string",
            "max": 2048,
            "min": 0,
            "pattern": "(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}\\=\\=|[A-Za-z0-9\\+/]{3}\\=)?"
        },
        "GenerateRecommendationsResponse": {
            "type": "structure",
            "members": {
                "recommendations": {
                    "shape": "RecommendationsList"
                },
                "nextToken": {
                    "shape": "String"
                }
            }
        },
        "GetAccessTokenRequest": {
            "type": "structure",
            "required": ["identityToken"],
            "members": {
                "identityToken": {
                    "shape": "GetAccessTokenRequestIdentityTokenString"
                }
            }
        },
        "GetAccessTokenRequestIdentityTokenString": {
            "type": "string",
            "max": 1024,
            "min": 0,
            "sensitive": true
        },
        "GetAccessTokenResponse": {
            "type": "structure",
            "members": {
                "accessToken": {
                    "shape": "SensitiveString"
                }
            }
        },
        "GetCodeScanRequest": {
            "type": "structure",
            "required": ["jobId"],
            "members": {
                "jobId": {
                    "shape": "GetCodeScanRequestJobIdString"
                }
            }
        },
        "GetCodeScanRequestJobIdString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "GetCodeScanResponse": {
            "type": "structure",
            "required": ["status"],
            "members": {
                "status": {
                    "shape": "CodeScanStatus"
                },
                "errorMessage": {
                    "shape": "String"
                }
            }
        },
        "IdempotencyToken": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "IdentityDetails": {
            "type": "structure",
            "members": {
                "ssoIdentityDetails": {
                    "shape": "SSOIdentityDetails"
                }
            },
            "union": true
        },
        "IdentitySource": {
            "type": "structure",
            "members": {
                "ssoIdentitySource": {
                    "shape": "SSOIdentitySource"
                }
            },
            "union": true
        },
        "Import": {
            "type": "structure",
            "members": {
                "statement": {
                    "shape": "ImportStatementString"
                }
            }
        },
        "ImportStatementString": {
            "type": "string",
            "max": 1024,
            "min": 1,
            "sensitive": true
        },
        "Imports": {
            "type": "list",
            "member": {
                "shape": "Import"
            },
            "max": 10,
            "min": 0
        },
        "InternalServerException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true,
            "fault": true,
            "retryable": {
                "throttling": false
            }
        },
        "ListCodeScanFindingsRequest": {
            "type": "structure",
            "required": ["jobId", "codeScanFindingsSchema"],
            "members": {
                "jobId": {
                    "shape": "ListCodeScanFindingsRequestJobIdString"
                },
                "nextToken": {
                    "shape": "PaginationToken"
                },
                "codeScanFindingsSchema": {
                    "shape": "CodeScanFindingsSchema"
                }
            }
        },
        "ListCodeScanFindingsRequestJobIdString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "ListCodeScanFindingsResponse": {
            "type": "structure",
            "required": ["codeScanFindings"],
            "members": {
                "nextToken": {
                    "shape": "PaginationToken"
                },
                "codeScanFindings": {
                    "shape": "String"
                }
            }
        },
        "ListProfilesRequest": {
            "type": "structure",
            "members": {
                "maxResults": {
                    "shape": "ListProfilesRequestMaxResultsInteger"
                },
                "nextToken": {
                    "shape": "Base64EncodedPaginationToken"
                }
            }
        },
        "ListProfilesRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 100,
            "min": 1
        },
        "ListProfilesResponse": {
            "type": "structure",
            "required": ["profiles"],
            "members": {
                "profiles": {
                    "shape": "ProfileList"
                },
                "nextToken": {
                    "shape": "Base64EncodedPaginationToken"
                }
            }
        },
        "ListRecommendationsRequest": {
            "type": "structure",
            "required": ["fileContext"],
            "members": {
                "fileContext": {
                    "shape": "FileContext"
                },
                "maxResults": {
                    "shape": "ListRecommendationsRequestMaxResultsInteger"
                },
                "supplementalContexts": {
                    "shape": "SupplementalContextList"
                },
                "nextToken": {
                    "shape": "ListRecommendationsRequestNextTokenString"
                },
                "referenceTrackerConfiguration": {
                    "shape": "ReferenceTrackerConfiguration"
                }
            }
        },
        "ListRecommendationsRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 10,
            "min": 1
        },
        "ListRecommendationsRequestNextTokenString": {
            "type": "string",
            "max": 2048,
            "min": 0,
            "pattern": "(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}\\=\\=|[A-Za-z0-9\\+/]{3}\\=)?"
        },
        "ListRecommendationsResponse": {
            "type": "structure",
            "members": {
                "recommendations": {
                    "shape": "RecommendationsList"
                },
                "nextToken": {
                    "shape": "String"
                }
            }
        },
        "ListTagsForResourceRequest": {
            "type": "structure",
            "required": ["resourceName"],
            "members": {
                "resourceName": {
                    "shape": "ResourceArn"
                }
            }
        },
        "ListTagsForResourceResponse": {
            "type": "structure",
            "members": {
                "tags": {
                    "shape": "TagList"
                }
            }
        },
        "PaginationToken": {
            "type": "string",
            "max": 2048,
            "min": 1,
            "pattern": "\\S+"
        },
        "PreSignedUrl": {
            "type": "string",
            "max": 2048,
            "min": 1
        },
        "Profile": {
            "type": "structure",
            "required": ["arn", "identityDetails", "profileName", "referenceTrackerConfiguration"],
            "members": {
                "arn": {
                    "shape": "ResourceArn"
                },
                "identityDetails": {
                    "shape": "IdentityDetails"
                },
                "profileName": {
                    "shape": "ProfileName"
                },
                "referenceTrackerConfiguration": {
                    "shape": "ReferenceTrackerConfiguration"
                },
                "kmsKeyArn": {
                    "shape": "ResourceArn"
                }
            }
        },
        "ProfileList": {
            "type": "list",
            "member": {
                "shape": "Profile"
            }
        },
        "ProfileName": {
            "type": "string",
            "max": 100,
            "min": 1,
            "pattern": "[a-zA-Z][a-zA-Z0-9_-]*"
        },
        "ProgrammingLanguage": {
            "type": "structure",
            "required": ["languageName"],
            "members": {
                "languageName": {
                    "shape": "ProgrammingLanguageLanguageNameString"
                }
            }
        },
        "ProgrammingLanguageLanguageNameString": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "(python|javascript|java|csharp|typescript|c|cpp|go|kotlin|php|ruby|rust|scala|shell|sql)"
        },
        "Recommendation": {
            "type": "structure",
            "required": ["content"],
            "members": {
                "content": {
                    "shape": "RecommendationContentString"
                },
                "references": {
                    "shape": "References"
                },
                "mostRelevantMissingImports": {
                    "shape": "Imports"
                }
            }
        },
        "RecommendationContentString": {
            "type": "string",
            "max": 5120,
            "min": 1,
            "sensitive": true
        },
        "RecommendationsList": {
            "type": "list",
            "member": {
                "shape": "Recommendation"
            },
            "max": 10,
            "min": 0
        },
        "RecommendationsWithReferencesPreference": {
            "type": "string",
            "enum": ["BLOCK", "ALLOW"]
        },
        "Reference": {
            "type": "structure",
            "members": {
                "licenseName": {
                    "shape": "ReferenceLicenseNameString"
                },
                "repository": {
                    "shape": "ReferenceRepositoryString"
                },
                "url": {
                    "shape": "ReferenceUrlString"
                },
                "recommendationContentSpan": {
                    "shape": "Span"
                }
            }
        },
        "ReferenceLicenseNameString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "ReferenceRepositoryString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "ReferenceTrackerConfiguration": {
            "type": "structure",
            "required": ["recommendationsWithReferences"],
            "members": {
                "recommendationsWithReferences": {
                    "shape": "RecommendationsWithReferencesPreference"
                }
            }
        },
        "ReferenceUrlString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "References": {
            "type": "list",
            "member": {
                "shape": "Reference"
            },
            "max": 10,
            "min": 0
        },
        "ResourceArn": {
            "type": "string",
            "max": 1224,
            "min": 0
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true
        },
        "SSOIdentityDetails": {
            "type": "structure",
            "required": ["instanceArn", "oidcClientId"],
            "members": {
                "instanceArn": {
                    "shape": "ResourceArn"
                },
                "oidcClientId": {
                    "shape": "String"
                }
            }
        },
        "SSOIdentitySource": {
            "type": "structure",
            "required": ["instanceArn"],
            "members": {
                "instanceArn": {
                    "shape": "ResourceArn"
                }
            }
        },
        "SensitiveString": {
            "type": "string",
            "sensitive": true
        },
        "Span": {
            "type": "structure",
            "members": {
                "start": {
                    "shape": "SpanStartInteger"
                },
                "end": {
                    "shape": "SpanEndInteger"
                }
            }
        },
        "SpanEndInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "SpanStartInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "String": {
            "type": "string"
        },
        "Tag": {
            "type": "structure",
            "required": ["key", "value"],
            "members": {
                "key": {
                    "shape": "TagKey"
                },
                "value": {
                    "shape": "TagValue"
                }
            }
        },
        "TagKey": {
            "type": "string",
            "max": 128,
            "min": 1
        },
        "TagKeyList": {
            "type": "list",
            "member": {
                "shape": "TagKey"
            },
            "max": 200,
            "min": 0
        },
        "TagList": {
            "type": "list",
            "member": {
                "shape": "Tag"
            },
            "max": 200,
            "min": 0
        },
        "TagResourceRequest": {
            "type": "structure",
            "required": ["resourceName", "tags"],
            "members": {
                "resourceName": {
                    "shape": "ResourceArn"
                },
                "tags": {
                    "shape": "TagList"
                }
            }
        },
        "TagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "TagValue": {
            "type": "string",
            "max": 256,
            "min": 0
        },
        "ThrottlingException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true,
            "retryable": {
                "throttling": false
            }
        },
        "UntagResourceRequest": {
            "type": "structure",
            "required": ["resourceName", "tagKeys"],
            "members": {
                "resourceName": {
                    "shape": "ResourceArn"
                },
                "tagKeys": {
                    "shape": "TagKeyList"
                }
            }
        },
        "UntagResourceResponse": {
            "type": "structure",
            "members": {}
        },
        "UpdateProfileRequest": {
            "type": "structure",
            "required": ["profileArn"],
            "members": {
                "profileArn": {
                    "shape": "ResourceArn"
                },
                "profileName": {
                    "shape": "ProfileName"
                },
                "referenceTrackerConfiguration": {
                    "shape": "ReferenceTrackerConfiguration"
                },
                "kmsKeyArn": {
                    "shape": "ResourceArn"
                }
            }
        },
        "UpdateProfileResponse": {
            "type": "structure",
            "required": ["profileArn"],
            "members": {
                "profileArn": {
                    "shape": "ResourceArn"
                }
            }
        },
        "UploadId": {
            "type": "string",
            "max": 128,
            "min": 1
        },
        "ValidationException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "exception": true
        }
    }
}
