<form action="/cart" method="post">
  <div class="uk-margin">
    <button class="uk-button uk-button-primary uk-text-capitalize" type="submit" >Add to Cart</button>
  </div>
  <input type="hidden" name="productId" value="<%= product.id %>">
</form>