{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-10-20",
        "endpointPrefix": "execute-api",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Mynah Telemetry",
        "serviceId": "MynahTelemetry",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "mynahtelemetry-2021-10-20"
    },
    "operations": {
        "BatchPostEvent": {
            "name": "BatchPostEvent",
            "http": {
                "method": "POST",
                "requestUri": "/batch-event",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchPostEventRequest"
            },
            "output": {
                "shape": "BatchPostEventResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                }
            ]
        }
    },
    "shapes": {
        "AutocompleteMetadata": {
            "type": "structure",
            "members": {
                "input": {
                    "shape": "Text"
                },
                "selectedItem": {
                    "shape": "Integer",
                    "default": 0
                },
                "suggestionsCount": {
                    "shape": "Integer",
                    "default": 0
                }
            }
        },
        "BatchPostEventRequest": {
            "type": "structure",
            "required": ["events"],
            "members": {
                "events": {
                    "shape": "Events"
                }
            }
        },
        "BatchPostEventResponse": {
            "type": "structure",
            "members": {}
        },
        "Boolean": {
            "type": "boolean"
        },
        "ClientType": {
            "type": "string",
            "enum": [
                "CANARY",
                "MYNAH_JETBRAINS",
                "MYNAH_ECLIPSE",
                "MYNAH_VISUAL_STUDIO",
                "MYNAH_VISUAL_STUDIO_CODE",
                "MYNAH_WEB"
            ]
        },
        "CodeDetailsMetadata": {
            "type": "structure",
            "required": ["code"],
            "members": {
                "code": {
                    "shape": "String"
                },
                "fileName": {
                    "shape": "String"
                },
                "range": {
                    "shape": "SelectionRange"
                }
            }
        },
        "CodeQuery": {
            "type": "structure",
            "members": {
                "simpleNames": {
                    "shape": "SimpleNames"
                },
                "usedFullyQualifiedNames": {
                    "shape": "FullyQualifiedNamesSet"
                }
            }
        },
        "Double": {
            "type": "double"
        },
        "EpochTimestamp": {
            "type": "timestamp"
        },
        "ErrorMetadata": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "Text"
                },
                "severity": {
                    "shape": "String"
                },
                "source": {
                    "shape": "Text"
                },
                "errorCode": {
                    "shape": "String"
                },
                "code": {
                    "shape": "Text"
                },
                "errorId": {
                    "shape": "Text"
                },
                "file": {
                    "shape": "String"
                },
                "type": {
                    "shape": "ErrorType"
                },
                "languageId": {
                    "shape": "String"
                },
                "imports": {
                    "shape": "Keywords"
                },
                "stackTrace": {
                    "shape": "String"
                }
            }
        },
        "ErrorType": {
            "type": "string",
            "enum": ["DIAGNOSTIC", "DEBUG", "TERMINAL"]
        },
        "Event": {
            "type": "structure",
            "required": [
                "timestamp",
                "identityId",
                "id",
                "name",
                "clientType",
                "clientVersion",
                "environmentName",
                "environmentVersion"
            ],
            "members": {
                "timestamp": {
                    "shape": "EpochTimestamp"
                },
                "identityId": {
                    "shape": "IdentityId"
                },
                "id": {
                    "shape": "EventId"
                },
                "viewId": {
                    "shape": "ShortText"
                },
                "name": {
                    "shape": "EventName"
                },
                "clientType": {
                    "shape": "ClientType"
                },
                "clientVersion": {
                    "shape": "Version"
                },
                "environmentName": {
                    "shape": "ShortText"
                },
                "environmentVersion": {
                    "shape": "Version"
                },
                "operatingSystem": {
                    "shape": "ShortText"
                },
                "operatingSystemVersion": {
                    "shape": "ShortText"
                },
                "sessionId": {
                    "shape": "ShortText"
                },
                "metadata": {
                    "shape": "Metadata"
                }
            }
        },
        "EventId": {
            "type": "string",
            "max": 64,
            "min": 1
        },
        "EventName": {
            "type": "string",
            "enum": [
                "INSTALL",
                "UNINSTALL",
                "SEARCH",
                "SHOW_RESULTS",
                "CLICK_SUGGESTION",
                "SHARE_SUGGESTION",
                "COPY_SUGGESTION_LINK",
                "UPVOTE_SUGGESTION",
                "DOWNVOTE_SUGGESTION",
                "STAR_RATE_SEARCH",
                "ENTER_FEEDBACK",
                "GOTO_NEXT_PAGE",
                "ENTER_FOCUS",
                "LEAVE_FOCUS",
                "ACTIVATE",
                "DEACTIVATE",
                "ADD_QUERY_CONTEXT",
                "REMOVE_QUERY_CONTEXT",
                "OPEN_SUGGESTION_LINK",
                "CLICK_SEARCH_HISTORY",
                "OBSERVE_ERROR",
                "CLEAR_ERROR",
                "EDIT_FILE",
                "HEARTBEAT",
                "HOVER_SUGGESTION",
                "SELECT_SUGGESTION_TEXT",
                "VIEW_NOTIFICATION",
                "CLICK_NOTIFICATION",
                "PAUSE_LIVE_SEARCH",
                "RESUME_LIVE_SEARCH",
                "REFINE_LIVE_SEARCH",
                "SELECT_AUTOCOMPLETE_QUERY_TEXT",
                "CLICK_CODE_DETAILS"
            ]
        },
        "Events": {
            "type": "list",
            "member": {
                "shape": "Event"
            },
            "max": 500,
            "min": 1
        },
        "FeedbackMetadata": {
            "type": "structure",
            "members": {
                "feedback": {
                    "shape": "Text"
                },
                "rating": {
                    "shape": "Rating",
                    "box": true
                }
            }
        },
        "FileEditMetadata": {
            "type": "structure",
            "members": {
                "fileName": {
                    "shape": "String"
                },
                "firstModifiedAt": {
                    "shape": "EpochTimestamp"
                },
                "lastModifiedAt": {
                    "shape": "EpochTimestamp"
                },
                "editCount": {
                    "shape": "Integer",
                    "default": 0
                }
            }
        },
        "FullyQualifiedName": {
            "type": "string",
            "max": 512,
            "min": 1
        },
        "FullyQualifiedNamesSet": {
            "type": "list",
            "member": {
                "shape": "FullyQualifiedName"
            },
            "max": 25,
            "min": 0
        },
        "HeartbeatMetadata": {
            "type": "structure",
            "members": {
                "fileName": {
                    "shape": "String"
                },
                "languageId": {
                    "shape": "String"
                },
                "isEdit": {
                    "shape": "Boolean",
                    "box": true
                }
            }
        },
        "IdentityId": {
            "type": "string",
            "max": 128,
            "min": 1
        },
        "Integer": {
            "type": "integer"
        },
        "InternalServerException": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true,
            "fault": true
        },
        "Keyword": {
            "type": "string",
            "max": 100,
            "min": 0,
            "pattern": "\\S+"
        },
        "Keywords": {
            "type": "list",
            "member": {
                "shape": "Keyword"
            }
        },
        "LineCursor": {
            "type": "structure",
            "members": {
                "row": {
                    "shape": "String"
                },
                "col": {
                    "shape": "String"
                }
            }
        },
        "Metadata": {
            "type": "structure",
            "members": {
                "searchMetadata": {
                    "shape": "SearchMetadata"
                },
                "resultMetadata": {
                    "shape": "ResultMetadata"
                },
                "suggestionMetadata": {
                    "shape": "SuggestionMetadata"
                },
                "paginationMetadata": {
                    "shape": "PaginationMetadata"
                },
                "feedbackMetadata": {
                    "shape": "FeedbackMetadata"
                },
                "queryContextMetadata": {
                    "shape": "QueryContextMetadata"
                },
                "errorMetadata": {
                    "shape": "ErrorMetadata"
                },
                "fileEditMetadata": {
                    "shape": "FileEditMetadata"
                },
                "heartbeatMetadata": {
                    "shape": "HeartbeatMetadata"
                },
                "notificationMetadata": {
                    "shape": "NotificationMetadata"
                },
                "autocompleteMetadata": {
                    "shape": "AutocompleteMetadata"
                },
                "codeDetailsMetadata": {
                    "shape": "CodeDetailsMetadata"
                }
            },
            "union": true
        },
        "NotificationMetadata": {
            "type": "structure",
            "members": {
                "name": {
                    "shape": "String"
                },
                "action": {
                    "shape": "String"
                }
            }
        },
        "PaginationMetadata": {
            "type": "structure",
            "members": {
                "pageNumber": {
                    "shape": "Integer",
                    "default": 0
                }
            }
        },
        "QueryContext": {
            "type": "structure",
            "members": {
                "should": {
                    "shape": "Keywords"
                },
                "must": {
                    "shape": "Keywords"
                },
                "mustNot": {
                    "shape": "Keywords"
                }
            }
        },
        "QueryContextMetadata": {
            "type": "structure",
            "members": {
                "queryContext": {
                    "shape": "String"
                },
                "queryContextType": {
                    "shape": "String"
                },
                "queryContextSource": {
                    "shape": "String"
                }
            }
        },
        "Rating": {
            "type": "integer",
            "max": 5,
            "min": 1
        },
        "ResultMetadata": {
            "type": "structure",
            "members": {
                "resultCount": {
                    "shape": "Integer",
                    "default": 0
                },
                "latency": {
                    "shape": "Integer",
                    "default": 0
                }
            }
        },
        "SearchMetadata": {
            "type": "structure",
            "members": {
                "query": {
                    "shape": "Text"
                },
                "trigger": {
                    "shape": "Trigger"
                },
                "triggerInteractionType": {
                    "shape": "TriggerInteractionType"
                },
                "sourceId": {
                    "shape": "Text"
                },
                "keywords": {
                    "shape": "Keywords",
                    "deprecated": true,
                    "deprecatedMessage": "Use QueryContext.should instead."
                },
                "queryContext": {
                    "shape": "QueryContext"
                },
                "code": {
                    "shape": "Text"
                },
                "codeQuery": {
                    "shape": "CodeQuery"
                },
                "implicit": {
                    "shape": "Boolean",
                    "box": true
                },
                "fromAutocomplete": {
                    "shape": "Boolean",
                    "box": true
                }
            }
        },
        "SelectionRange": {
            "type": "structure",
            "members": {
                "start": {
                    "shape": "LineCursor"
                },
                "end": {
                    "shape": "LineCursor"
                }
            }
        },
        "ShortText": {
            "type": "string",
            "max": 200,
            "min": 1
        },
        "SimpleName": {
            "type": "string",
            "max": 128,
            "min": 1
        },
        "SimpleNames": {
            "type": "list",
            "member": {
                "shape": "SimpleName"
            },
            "max": 100,
            "min": 0
        },
        "String": {
            "type": "string"
        },
        "SuggestionMetadata": {
            "type": "structure",
            "required": ["suggestionId"],
            "members": {
                "suggestionId": {
                    "shape": "String"
                },
                "selectedText": {
                    "shape": "String"
                },
                "hoverDuration": {
                    "shape": "Double",
                    "box": true
                }
            }
        },
        "Text": {
            "type": "string",
            "max": 1000,
            "min": 0
        },
        "Trigger": {
            "type": "string",
            "enum": [
                "DEBUG_ERROR",
                "DIAGNOSTIC_ERROR",
                "GLOBAL_SEARCH",
                "SEARCH_PANE",
                "TERMINAL",
                "SEARCH_HISTORY",
                "CODE_SELECTION"
            ]
        },
        "TriggerInteractionType": {
            "type": "string",
            "enum": ["KEYBOARD", "CLICK", "MENU", "STATUS_BAR", "HOVER_BUBBLE"]
        },
        "Version": {
            "type": "string",
            "max": 512,
            "min": 1,
            "pattern": "[\\w+-.]*"
        }
    }
}
