* @aws/aws-ides-team
packages/toolkit/src/codewhisperer/ @aws/codewhisperer-team
packages/toolkit/src/amazonqFeatureDev/ @aws/earlybird
packages/toolkit/src/codewhispererChat/ @aws/aws-mynah
packages/toolkit/src/amazonq/ @aws/aws-mynah
