* @aws/aws-ides-team
packages/core/src/codewhisperer/ @aws/codewhisperer-team
packages/core/src/amazonqFeatureDev/ @aws/earlybird
packages/core/src/codewhispererChat/ @aws/dexp
packages/core/src/amazonq/ @aws/dexp
packages/core/src/accessanalyzer/ @aws/access-analyzer
