/* Shared */

.border-common {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: transparent;
}

/*  */
.container-background {
    background-color: #292929;
}
