# EditorConfig: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
max_line_length = 100

[*.{js,ts,py}]
charset = utf-8

[Makefile]
indent_style = tab
