# EditorConfig: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space

[*.{js,py}]
charset = utf-8

# 4 space indentation
[*.py]
indent_style = space

[Makefile]
indent_style = tab
