node_modules/**
**/*.json
src/shared/telemetry/clienttelemetry.d.ts
src/codewhisperer/client/codewhispererclient.d.ts
types/clientcodecatalyst.d.ts
**/*.gen.ts
src/testFixtures/workspaceFolder/ts-plain-sam-app/
dist/**
types/*.d.ts
