node_modules/**
dist/**
src.gen/**
**/*.json
src/shared/telemetry/clienttelemetry.d.ts
src/codewhisperer/client/codewhispererclient.d.ts
src/codewhisperer/client/codewhispereruserclient.d.ts
src/amazonqFeatureDev/client/featuredevproxyclient.d.ts
**/*.gen.ts
src/testFixtures/**
types/*.d.ts
