node_modules/
dist/
src.gen/**
**/*.json
packages/toolkit/src/shared/telemetry/clienttelemetry.d.ts
packages/toolkit/src/codewhisperer/client/codewhispererclient.d.ts
packages/toolkit/src/codewhisperer/client/codewhispereruserclient.d.ts
packages/toolkit/src/amazonqFeatureDev/client/featuredevproxyclient.d.ts
packages/toolkit/src/testFixtures/**
**/*.gen.ts
types/*.d.ts
