out
dist
node_modules
.coverage/
.vscode-test/
*.vsix
**/.DS_Store
.idea
telemetryCache
quickStart.html
.gitcommit
media/libs/

# Auto generated Service Clients
src/shared/telemetry/clienttelemetry.d.ts
