# ensure that the project uses the public npm registry see: https://docs.npmjs.com/cli/v8/configuring-npm/npmrc
registry = "https://registry.npmjs.org/"
# `engine-strict=true` prevents dependabot from working, because _transitive_ deps can set "engines"
# more restrictive than our own package.json. https://github.com/dependabot/dependabot-core/issues/4072
engine-strict=false
