# Ignore everything by default
*
*/**

# Allowlist
!dist/*
!dist/libs
!dist/*/!(testFixtures|test)/**/!(*.*.map)
!dist/*/!(*.*.map)
!media/**
!resources/**
!syntaxes/**
!templates/**
!third-party/**
!types/**
!LICENSE
!NOTICE
!package.json
!package.nls.json
!quickStart**
!README.**
!CHANGELOG.md
