.coverage/**
.github/**
.vscode/**
.vscode-test/**
.changes/**
scripts/**
buildspec/**
dist/src/test/**
dist/src/integrationTest/**
dist/src/testFixtures/**
dist/test/**
dist/integrationTest/**
dist/third-party/test/**
dist/**/*.map
src/**
out/**
third-party/test/**
webpack.config.js
.gitignore
.nycrc.json
Dockerfile
tsconfig.json
tslint.json
codebuild-image-buildspec.yml
node_modules
docs/**
designs/**
package.json.bk
