{
    "version":"2.0",
    "metadata":{
        "apiVersion":"2022-11-11",
        "endpointPrefix":"amazoncodewhispererservice",
        "jsonVersion":"1.0",
        "protocol":"json",
        "serviceFullName":"Amazon CodeWhisperer",
        "serviceId":"CodeWhispererRuntime",
        "signatureVersion":"bearer",
        "signingName":"amazoncodewhispererservice",
        "targetPrefix":"AmazonCodeWhispererService",
        "uid":"codewhispererruntime-2022-11-11"
    },
    "operations":{
        "CreateArtifactUploadUrl":{
            "name":"CreateArtifactUploadUrl",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"CreateUploadUrlRequest"},
            "output":{"shape":"CreateUploadUrlResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ],
            "idempotent":true
        },
        "CreateUploadUrl":{
            "name":"CreateUploadUrl",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"CreateUploadUrlRequest"},
            "output":{"shape":"CreateUploadUrlResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ],
            "idempotent":true
        },
        "GenerateCompletions":{
            "name":"GenerateCompletions",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"GenerateCompletionsRequest"},
            "output":{"shape":"GenerateCompletionsResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        },
        "GetCodeAnalysis":{
            "name":"GetCodeAnalysis",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"GetCodeAnalysisRequest"},
            "output":{"shape":"GetCodeAnalysisResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"ResourceNotFoundException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        },
        "ListCodeAnalysisFindings":{
            "name":"ListCodeAnalysisFindings",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"ListCodeAnalysisFindingsRequest"},
            "output":{"shape":"ListCodeAnalysisFindingsResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"ResourceNotFoundException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        },
        "SendTelemetryEvent":{
            "name":"SendTelemetryEvent",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"SendTelemetryEventRequest"},
            "output":{"shape":"SendTelemetryEventResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ],
            "idempotent":true
        },
        "StartCodeAnalysis":{
            "name":"StartCodeAnalysis",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"StartCodeAnalysisRequest"},
            "output":{"shape":"StartCodeAnalysisResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"ConflictException"},
                {"shape":"ResourceNotFoundException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ],
            "idempotent":true
        }
    },
    "shapes":{
        "AccessDeniedException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        },
        "ArtifactMap":{
            "type":"map",
            "key":{"shape":"ArtifactType"},
            "value":{"shape":"UploadId"},
            "max":64,
            "min":1
        },
        "ArtifactType":{
            "type":"string",
            "enum":[
                "SourceCode",
                "BuiltJars"
            ]
        },
        "Base64EncodedPaginationToken":{
            "type":"string",
            "max":2048,
            "min":1,
            "pattern":"(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}\\=\\=|[A-Za-z0-9\\+/]{3}\\=)?"
        },
        "CodeAnalysisFindingsSchema":{
            "type":"string",
            "enum":["codeanalysis/findings/1.0"]
        },
        "CodeAnalysisStatus":{
            "type":"string",
            "enum":[
                "Completed",
                "Pending",
                "Failed"
            ]
        },
        "CodeCoverageEvent":{
            "type":"structure",
            "required":[
                "programmingLanguage",
                "acceptedCharacterCount",
                "totalCharacterCount",
                "timestamp"
            ],
            "members":{
                "programmingLanguage":{"shape":"ProgrammingLanguage"},
                "acceptedCharacterCount":{"shape":"Integer"},
                "totalCharacterCount":{"shape":"Integer"},
                "timestamp":{"shape":"Timestamp"}
            }
        },
        "CodeScanEvent":{
            "type":"structure",
            "required":[
                "programmingLanguage",
                "codeScanJobId",
                "timestamp"
            ],
            "members":{
                "programmingLanguage":{"shape":"ProgrammingLanguage"},
                "codeScanJobId":{"shape":"CodeScanJobId"},
                "timestamp":{"shape":"Timestamp"}
            }
        },
        "CodeScanJobId":{
            "type":"string",
            "max":128,
            "min":1
        },
        "Completion":{
            "type":"structure",
            "required":["content"],
            "members":{
                "content":{"shape":"CompletionContentString"},
                "references":{"shape":"References"},
                "mostRelevantMissingImports":{"shape":"Imports"}
            }
        },
        "CompletionContentString":{
            "type":"string",
            "max":5120,
            "min":1,
            "sensitive":true
        },
        "CompletionType":{
            "type":"string",
            "enum":[
                "BLOCK",
                "LINE"
            ]
        },
        "Completions":{
            "type":"list",
            "member":{"shape":"Completion"},
            "max":10,
            "min":0
        },
        "ConflictException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        },
        "CreateUploadUrlRequest":{
            "type":"structure",
            "required":["contentMd5"],
            "members":{
                "contentMd5":{"shape":"CreateUploadUrlRequestContentMd5String"},
                "artifactType":{"shape":"ArtifactType"}
            }
        },
        "CreateUploadUrlRequestContentMd5String":{
            "type":"string",
            "max":128,
            "min":1
        },
        "CreateUploadUrlResponse":{
            "type":"structure",
            "required":[
                "uploadId",
                "uploadUrl"
            ],
            "members":{
                "uploadId":{"shape":"UploadId"},
                "uploadUrl":{"shape":"PreSignedUrl"},
                "kmsKeyArn":{"shape":"ResourceArn"}
            }
        },
        "Double":{
            "type":"double",
            "box":true
        },
        "FileContext":{
            "type":"structure",
            "required":[
                "leftFileContent",
                "rightFileContent",
                "filename",
                "programmingLanguage"
            ],
            "members":{
                "leftFileContent":{"shape":"FileContextLeftFileContentString"},
                "rightFileContent":{"shape":"FileContextRightFileContentString"},
                "filename":{"shape":"FileContextFilenameString"},
                "programmingLanguage":{"shape":"ProgrammingLanguage"}
            }
        },
        "FileContextFilenameString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "FileContextLeftFileContentString":{
            "type":"string",
            "max":10240,
            "min":0,
            "sensitive":true
        },
        "FileContextRightFileContentString":{
            "type":"string",
            "max":10240,
            "min":0,
            "sensitive":true
        },
        "GenerateCompletionsRequest":{
            "type":"structure",
            "required":["fileContext"],
            "members":{
                "fileContext":{"shape":"FileContext"},
                "maxResults":{"shape":"GenerateCompletionsRequestMaxResultsInteger"},
                "nextToken":{"shape":"GenerateCompletionsRequestNextTokenString"},
                "referenceTrackerConfiguration":{"shape":"ReferenceTrackerConfiguration"},
                "supplementalContexts":{"shape":"SupplementalContextList"}
            }
        },
        "GenerateCompletionsRequestMaxResultsInteger":{
            "type":"integer",
            "box":true,
            "max":10,
            "min":1
        },
        "GenerateCompletionsRequestNextTokenString":{
            "type":"string",
            "max":2048,
            "min":0,
            "pattern":"(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}\\=\\=|[A-Za-z0-9\\+/]{3}\\=)?"
        },
        "GenerateCompletionsResponse":{
            "type":"structure",
            "members":{
                "completions":{"shape":"Completions"},
                "nextToken":{"shape":"String"}
            }
        },
        "GetCodeAnalysisRequest":{
            "type":"structure",
            "required":["jobId"],
            "members":{
                "jobId":{"shape":"GetCodeAnalysisRequestJobIdString"}
            }
        },
        "GetCodeAnalysisRequestJobIdString":{
            "type":"string",
            "max":256,
            "min":1
        },
        "GetCodeAnalysisResponse":{
            "type":"structure",
            "required":["status"],
            "members":{
                "status":{"shape":"CodeAnalysisStatus"},
                "errorMessage":{"shape":"String"}
            }
        },
        "IdempotencyToken":{
            "type":"string",
            "max":256,
            "min":1
        },
        "Import":{
            "type":"structure",
            "members":{
                "statement":{"shape":"ImportStatementString"}
            }
        },
        "ImportStatementString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "Imports":{
            "type":"list",
            "member":{"shape":"Import"},
            "max":10,
            "min":0
        },
        "Integer":{
            "type":"integer",
            "box":true
        },
        "InternalServerException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true,
            "fault":true,
            "retryable":{"throttling":false}
        },
        "ListCodeAnalysisFindingsRequest":{
            "type":"structure",
            "required":[
                "jobId",
                "codeAnalysisFindingsSchema"
            ],
            "members":{
                "jobId":{"shape":"ListCodeAnalysisFindingsRequestJobIdString"},
                "nextToken":{"shape":"PaginationToken"},
                "codeAnalysisFindingsSchema":{"shape":"CodeAnalysisFindingsSchema"}
            }
        },
        "ListCodeAnalysisFindingsRequestJobIdString":{
            "type":"string",
            "max":256,
            "min":1
        },
        "ListCodeAnalysisFindingsResponse":{
            "type":"structure",
            "required":["codeAnalysisFindings"],
            "members":{
                "nextToken":{"shape":"PaginationToken"},
                "codeAnalysisFindings":{"shape":"String"}
            }
        },
        "PaginationToken":{
            "type":"string",
            "max":2048,
            "min":1,
            "pattern":"\\S+"
        },
        "PreSignedUrl":{
            "type":"string",
            "max":2048,
            "min":1
        },
        "ProgrammingLanguage":{
            "type":"structure",
            "required":["languageName"],
            "members":{
                "languageName":{"shape":"ProgrammingLanguageLanguageNameString"}
            }
        },
        "ProgrammingLanguageLanguageNameString":{
            "type":"string",
            "max":128,
            "min":1,
            "pattern":"(python|javascript|java|csharp|typescript|c|cpp|go|kotlin|php|ruby|rust|scala|shell|sql)"
        },
        "RecommendationsWithReferencesPreference":{
            "type":"string",
            "enum":[
                "BLOCK",
                "ALLOW"
            ]
        },
        "Reference":{
            "type":"structure",
            "members":{
                "licenseName":{"shape":"ReferenceLicenseNameString"},
                "repository":{"shape":"ReferenceRepositoryString"},
                "url":{"shape":"ReferenceUrlString"},
                "recommendationContentSpan":{"shape":"Span"}
            }
        },
        "ReferenceLicenseNameString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "ReferenceRepositoryString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "ReferenceTrackerConfiguration":{
            "type":"structure",
            "required":["recommendationsWithReferences"],
            "members":{
                "recommendationsWithReferences":{"shape":"RecommendationsWithReferencesPreference"}
            }
        },
        "ReferenceUrlString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "References":{
            "type":"list",
            "member":{"shape":"Reference"},
            "max":10,
            "min":0
        },
        "ResourceArn":{
            "type":"string",
            "max":1224,
            "min":0
        },
        "ResourceNotFoundException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        },
        "SendTelemetryEventRequest":{
            "type":"structure",
            "required":["telemetryEvent"],
            "members":{
                "clientToken":{
                    "shape":"IdempotencyToken",
                    "idempotencyToken":true
                },
                "telemetryEvent":{"shape":"TelemetryEvent"}
            }
        },
        "SendTelemetryEventResponse":{
            "type":"structure",
            "members":{
            }
        },
        "Span":{
            "type":"structure",
            "members":{
                "start":{"shape":"SpanStartInteger"},
                "end":{"shape":"SpanEndInteger"}
            }
        },
        "SpanEndInteger":{
            "type":"integer",
            "box":true,
            "min":0
        },
        "SpanStartInteger":{
            "type":"integer",
            "box":true,
            "min":0
        },
        "StartCodeAnalysisRequest":{
            "type":"structure",
            "required":[
                "artifacts",
                "programmingLanguage"
            ],
            "members":{
                "artifacts":{"shape":"ArtifactMap"},
                "programmingLanguage":{"shape":"ProgrammingLanguage"},
                "clientToken":{
                    "shape":"StartCodeAnalysisRequestClientTokenString",
                    "idempotencyToken":true
                }
            }
        },
        "StartCodeAnalysisRequestClientTokenString":{
            "type":"string",
            "max":256,
            "min":1
        },
        "StartCodeAnalysisResponse":{
            "type":"structure",
            "required":[
                "jobId",
                "status"
            ],
            "members":{
                "jobId":{"shape":"StartCodeAnalysisResponseJobIdString"},
                "status":{"shape":"CodeAnalysisStatus"},
                "errorMessage":{"shape":"String"}
            }
        },
        "StartCodeAnalysisResponseJobIdString":{
            "type":"string",
            "max":256,
            "min":1
        },
        "String":{"type":"string"},
        "SuggestionState":{
            "type":"string",
            "enum":[
                "ACCEPT",
                "REJECT",
                "DISCARD",
                "EMPTY"
            ]
        },
        "SupplementalContext":{
            "type":"structure",
            "required":[
                "filePath",
                "content"
            ],
            "members":{
                "filePath":{"shape":"SupplementalContextFilePathString"},
                "content":{"shape":"SupplementalContextContentString"}
            }
        },
        "SupplementalContextContentString":{
            "type":"string",
            "max":10240,
            "min":1,
            "sensitive":true
        },
        "SupplementalContextFilePathString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "SupplementalContextList":{
            "type":"list",
            "member":{"shape":"SupplementalContext"},
            "max":5,
            "min":0
        },
        "TelemetryEvent":{
            "type":"structure",
            "members":{
                "userTriggerDecisionEvent":{"shape":"UserTriggerDecisionEvent"},
                "codeCoverageEvent":{"shape":"CodeCoverageEvent"},
                "userModificationEvent":{"shape":"UserModificationEvent"},
                "codeScanEvent":{"shape":"CodeScanEvent"}
            },
            "union":true
        },
        "ThrottlingException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true,
            "retryable":{"throttling":false}
        },
        "Timestamp":{"type":"timestamp"},
        "UUID":{
            "type":"string",
            "max":36,
            "min":36
        },
        "UploadId":{
            "type":"string",
            "max":128,
            "min":1
        },
        "UserModificationEvent":{
            "type":"structure",
            "required":[
                "sessionId",
                "requestId",
                "programmingLanguage",
                "modificationPercentage",
                "timestamp"
            ],
            "members":{
                "sessionId":{"shape":"UUID"},
                "requestId":{"shape":"UUID"},
                "programmingLanguage":{"shape":"ProgrammingLanguage"},
                "modificationPercentage":{"shape":"Double"},
                "timestamp":{"shape":"Timestamp"}
            }
        },
        "UserTriggerDecisionEvent":{
            "type":"structure",
            "required":[
                "sessionId",
                "requestId",
                "programmingLanguage",
                "completionType",
                "suggestionState",
                "recommendationLatencyMilliseconds",
                "timestamp"
            ],
            "members":{
                "sessionId":{"shape":"UUID"},
                "requestId":{"shape":"UUID"},
                "programmingLanguage":{"shape":"ProgrammingLanguage"},
                "completionType":{"shape":"CompletionType"},
                "suggestionState":{"shape":"SuggestionState"},
                "recommendationLatencyMilliseconds":{"shape":"Double"},
                "timestamp":{"shape":"Timestamp"},
                "suggestionReferenceCount":{"shape":"Integer"},
                "generatedLine":{"shape":"Integer"}
            }
        },
        "ValidationException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        }
    }
}
