{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-11-11",
    "endpointPrefix":"amazoncodewhispererservice",
    "jsonVersion":"1.0",
    "protocol":"json",
    "serviceFullName":"Amazon CodeWhisperer",
    "serviceId":"CodeWhispererRuntime",
    "signatureVersion":"bearer",
    "signingName":"amazoncodewhispererservice",
    "targetPrefix":"AmazonCodeWhispererService",
    "uid":"codewhispererruntime-2022-11-11"
  },
  "operations":{
    "CreateArtifactUploadUrl":{
      "name":"CreateArtifactUploadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUploadUrlRequest"},
      "output":{"shape":"CreateUploadUrlResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "GenerateCompletions":{
      "name":"GenerateCompletions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GenerateCompletionsRequest"},
      "output":{"shape":"GenerateCompletionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetCodeAnalysis":{
      "name":"GetCodeAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCodeAnalysisRequest"},
      "output":{"shape":"GetCodeAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListCodeAnalysisFindings":{
      "name":"ListCodeAnalysisFindings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCodeAnalysisFindingsRequest"},
      "output":{"shape":"ListCodeAnalysisFindingsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "StartCodeAnalysis":{
      "name":"StartCodeAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCodeAnalysisRequest"},
      "output":{"shape":"StartCodeAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "ArtifactMap":{
      "type":"map",
      "key":{"shape":"ArtifactType"},
      "value":{"shape":"UploadId"},
      "max":64,
      "min":1
    },
    "ArtifactType":{
      "type":"string",
      "enum":[
        "SourceCode",
        "BuiltJars"
      ]
    },
    "CodeAnalysisFindingsSchema":{
      "type":"string",
      "enum":["codeanalysis/findings/1.0"]
    },
    "CodeAnalysisStatus":{
      "type":"string",
      "enum":[
        "Completed",
        "Pending",
        "Failed"
      ]
    },
    "Completion":{
      "type":"structure",
      "required":["content"],
      "members":{
        "content":{"shape":"CompletionContentString"},
        "references":{"shape":"References"}
      }
    },
    "CompletionContentString":{
      "type":"string",
      "max":5120,
      "min":1,
      "sensitive":true
    },
    "Completions":{
      "type":"list",
      "member":{"shape":"Completion"},
      "max":10,
      "min":0
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "CreateUploadUrlRequest":{
      "type":"structure",
      "required":[
        "contentMd5",
        "artifactType"
      ],
      "members":{
        "contentMd5":{"shape":"CreateUploadUrlRequestContentMd5String"},
        "artifactType":{"shape":"ArtifactType"}
      }
    },
    "CreateUploadUrlRequestContentMd5String":{
      "type":"string",
      "max":128,
      "min":1
    },
    "CreateUploadUrlResponse":{
      "type":"structure",
      "required":[
        "uploadId",
        "uploadUrl"
      ],
      "members":{
        "uploadId":{"shape":"UploadId"},
        "uploadUrl":{"shape":"PreSignedUrl"}
      }
    },
    "FileContext":{
      "type":"structure",
      "required":[
        "leftFileContent",
        "rightFileContent",
        "filename",
        "programmingLanguage"
      ],
      "members":{
        "leftFileContent":{"shape":"FileContextLeftFileContentString"},
        "rightFileContent":{"shape":"FileContextRightFileContentString"},
        "filename":{"shape":"FileContextFilenameString"},
        "programmingLanguage":{"shape":"ProgrammingLanguage"}
      }
    },
    "FileContextFilenameString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "FileContextLeftFileContentString":{
      "type":"string",
      "max":10240,
      "min":0,
      "sensitive":true
    },
    "FileContextRightFileContentString":{
      "type":"string",
      "max":10240,
      "min":0,
      "sensitive":true
    },
    "GenerateCompletionsRequest":{
      "type":"structure",
      "required":["fileContext"],
      "members":{
        "fileContext":{"shape":"FileContext"},
        "maxResults":{"shape":"GenerateCompletionsRequestMaxResultsInteger"},
        "nextToken":{"shape":"GenerateCompletionsRequestNextTokenString"},
        "referenceTrackerConfiguration":{"shape":"ReferenceTrackerConfiguration"}
      }
    },
    "GenerateCompletionsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "GenerateCompletionsRequestNextTokenString":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}\\=\\=|[A-Za-z0-9\\+/]{3}\\=)?"
    },
    "GenerateCompletionsResponse":{
      "type":"structure",
      "members":{
        "completions":{"shape":"Completions"},
        "nextToken":{"shape":"String"}
      }
    },
    "GetCodeAnalysisRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{"shape":"GetCodeAnalysisRequestJobIdString"}
      }
    },
    "GetCodeAnalysisRequestJobIdString":{
      "type":"string",
      "max":256,
      "min":1
    },
    "GetCodeAnalysisResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{"shape":"CodeAnalysisStatus"},
        "errorMessage":{"shape":"String"}
      }
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "ListCodeAnalysisFindingsRequest":{
      "type":"structure",
      "required":[
        "jobId",
        "codeAnalysisFindingsSchema"
      ],
      "members":{
        "jobId":{"shape":"ListCodeAnalysisFindingsRequestJobIdString"},
        "nextToken":{"shape":"PaginationToken"},
        "codeAnalysisFindingsSchema":{"shape":"CodeAnalysisFindingsSchema"}
      }
    },
    "ListCodeAnalysisFindingsRequestJobIdString":{
      "type":"string",
      "max":256,
      "min":1
    },
    "ListCodeAnalysisFindingsResponse":{
      "type":"structure",
      "required":["codeAnalysisFindings"],
      "members":{
        "nextToken":{"shape":"PaginationToken"},
        "codeAnalysisFindings":{"shape":"String"}
      }
    },
    "PaginationToken":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"\\S+"
    },
    "PreSignedUrl":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "ProgrammingLanguage":{
      "type":"structure",
      "required":["languageName"],
      "members":{
        "languageName":{"shape":"ProgrammingLanguageLanguageNameString"}
      }
    },
    "ProgrammingLanguageLanguageNameString":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"(python|javascript|java|csharp|typescript)"
    },
    "RecommendationsWithReferencesPreference":{
      "type":"string",
      "enum":[
        "BLOCK",
        "ALLOW"
      ]
    },
    "Reference":{
      "type":"structure",
      "members":{
        "licenseName":{"shape":"ReferenceLicenseNameString"},
        "repository":{"shape":"ReferenceRepositoryString"},
        "url":{"shape":"ReferenceUrlString"},
        "recommendationContentSpan":{"shape":"Span"}
      }
    },
    "ReferenceLicenseNameString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ReferenceRepositoryString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ReferenceTrackerConfiguration":{
      "type":"structure",
      "required":["recommendationsWithReferences"],
      "members":{
        "recommendationsWithReferences":{"shape":"RecommendationsWithReferencesPreference"}
      }
    },
    "ReferenceUrlString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "References":{
      "type":"list",
      "member":{"shape":"Reference"},
      "max":10,
      "min":0
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "Span":{
      "type":"structure",
      "members":{
        "start":{"shape":"SpanStartInteger"},
        "end":{"shape":"SpanEndInteger"}
      }
    },
    "SpanEndInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "SpanStartInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "StartCodeAnalysisRequest":{
      "type":"structure",
      "required":[
        "artifacts",
        "programmingLanguage"
      ],
      "members":{
        "artifacts":{"shape":"ArtifactMap"},
        "programmingLanguage":{"shape":"ProgrammingLanguage"},
        "clientToken":{
          "shape":"StartCodeAnalysisRequestClientTokenString",
          "idempotencyToken":true
        }
      }
    },
    "StartCodeAnalysisRequestClientTokenString":{
      "type":"string",
      "max":256,
      "min":1
    },
    "StartCodeAnalysisResponse":{
      "type":"structure",
      "required":[
        "jobId",
        "status"
      ],
      "members":{
        "jobId":{"shape":"StartCodeAnalysisResponseJobIdString"},
        "status":{"shape":"CodeAnalysisStatus"},
        "errorMessage":{"shape":"String"}
      }
    },
    "StartCodeAnalysisResponseJobIdString":{
      "type":"string",
      "max":256,
      "min":1
    },
    "String":{"type":"string"},
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true,
      "retryable":{"throttling":false}
    },
    "UploadId":{
      "type":"string",
      "max":128,
      "min":1
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    }
  }
}
