.mynah-autocomplete-items-wrapper {
    display: flex;
    flex-flow: column nowrap;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    --mynah-autocomplete-side-spacings: calc(
        var(--mynah-sizing-12) + var(--mynah-sizing-10) + var(--mynah-sizing-12) + var(--mynah-sizing-12)
    );
    width: calc(100vw - var(--mynah-autocomplete-side-spacings));
    max-width: calc(1024px - var(--mynah-autocomplete-side-spacings));
    box-sizing: border-box;
    @include list-fader();
    padding-top: var(--mynah-sizing-3);
    padding-bottom: var(--mynah-sizing-3);

    &.make-items-as-ghost {
        &,
        & * {
            pointer-events: none !important;
        }
    }

    > .mynah-autocomplete-button {
        pointer-events: all;
        flex-shrink: 0;
        height: auto;
        min-height: var(--mynah-sizing-7);
        padding: var(--mynah-sizing-3);
        background-color: transparent;
        border-radius: 0%;
        color: var(--mynah-color-text-default);

        &,
        &:active {
            box-shadow: none;
        }

        &:active:after {
            opacity: 0.1;
        }

        &:hover {
            background-color: var(--mynah-color-bg);
        }

        > span {
            text-align: left;
            max-width: initial;
            width: 100%;
            overflow: hidden;
            display: flex;

            > .mynah-autocomplete-button-label {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                gap: var(--mynah-sizing-3);
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;

                > .mynah-autocomplete-title-wrapper {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    justify-content: center;
                    flex: 1;
                    overflow: hidden;
                    color: var(--mynah-color-text-weak);
                    gap: var(--mynah-sizing-1);

                    > h3 {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin: 0;
                        color: var(--mynah-color-text-default);
                    }

                    > .autocomplete {
                        font-weight: normal;
                    }
                }
            }
        }
    }

    &:not(:hover) > .mynah-autocomplete-button.hover {
        background-color: var(--mynah-color-bg);
    }
}

.pointer {
    cursor: pointer;
}
