.mynah-search-history-items-wrapper {
    display: flex;
    flex-flow: column nowrap;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 70vw;
    max-width: 450px;
    box-sizing: border-box;
    @include list-fader();
    padding: var(--mynah-sizing-3);
    gap: var(--mynah-sizing-3);
    > .mynah-search-history-button {
        flex-shrink: 0;
        height: auto;
        min-height: var(--mynah-sizing-14);
        background-color: transparent;
        border: 1px solid var(--mynah-color-bg);
        color: var(--mynah-color-text-default);
        border-radius: var(--mynah-button-radius);
        padding: var(--mynah-sizing-3);
        &,
        &:active {
            box-shadow: none;
        }
        &:active:after {
            opacity: 0.1;
        }
        > span {
            text-align: left;
            max-width: initial;
            width: 100%;
            overflow: hidden;
            display: flex;
            > .mynah-search-history-button-label {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                gap: var(--mynah-sizing-3);
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;
                > .mynah-search-history-trigger-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: var(--mynah-sizing-5);
                    height: var(--mynah-sizing-5);
                    font-size: var(--mynah-font-size-medium);
                    > i {
                        opacity: 0.2;
                    }
                    > img {
                        opacity: 0.5;
                        width: var(--mynah-sizing-4);
                        height: var(--mynah-sizing-4);
                    }
                }
                > .mynah-search-history-title-wrapper {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    justify-content: center;
                    flex: 1;
                    overflow: hidden;
                    color: var(--mynah-color-text-weak);
                    gap: var(--mynah-sizing-1);
                    > h3 {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin: 0;
                        color: var(--mynah-color-text-default);
                    }
                }
                > .mynah-search-history-item-context-wrapper {
                    display: inline-block;
                    flex-grow: 0;
                    > .mynah-context-pill {
                        transform: translate3d(0px, 0px, 0px) scale(0.74);
                        margin-left: calc(-1 * var(--mynah-sizing-1));
                        display: inline-block;
                        transform-origin: center right;
                        &,
                        & * {
                            pointer-events: none;
                        }
                        > .mynah-context-checkbox-label {
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            text-decoration: none;
                            &:before {
                                display: none;
                            }
                            > span {
                                width: var(--mynah-sizing-4);
                                overflow: visible;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pointer {
    cursor: pointer;
}
