.mynah-search-block {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: var(--mynah-card-bg);
    border-radius: var(--mynah-card-radius);
    box-shadow: var(--mynah-shadow-card);
    transition: var(--mynah-short-transition-rev);
    overflow: visible;
    position: relative;
    @include background-shadow;
    border: var(--mynah-button-border-width) solid var(--vscode-editorGroup-border);

    > .mynah-search-block-header {
        width: 100%;
        margin: 1em 1em 0px 0px;
        display: flex;
        justify-content: flex-end;

        > #mynah-feedback-form-container {
            > .mynah-feedback-trigger-button {
                transition: var(--mynah-short-transition-bounce);
                pointer-events: all;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                cursor: pointer;
            }
        }
    }

    > .mnynah-search-block-fold-unfold-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: calc(-1 * var(--mynah-sizing-8) / 2);
        margin-bottom: calc(-1 * var(--mynah-sizing-8) / 2);
        width: var(--mynah-sizing-8);
        height: var(--mynah-sizing-8);
        min-width: var(--mynah-sizing-8);
        z-index: 999999;
        transform: translate3d(0, 0, 0) scale(0.75);
        opacity: 0;
        pointer-events: none;
        transition: var(--mynah-very-short-transition);
        background-color: var(--mynah-card-bg);
        color: var(--mynah-color-text-input);
        border: var(--mynah-button-border-width) solid var(--vscode-editorGroup-border);
        font-size: var(--mynah-sizing-6);
        > .mynah-icon {
            &-up-open {
                display: inline-flex;
            }
            &-down-open {
                display: none;
            }
        }
    }

    > .mynah-search-live-toggle-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: var(--mynah-sizing-1);
        width: 100%;
        padding: var(--mynah-sizing-3) var(--mynah-sizing-3) 0 0;
        > .mynah-toggle-container > .mynah-toggle-indicator-transitioner {
            &:before,
            &:after {
                content: '';
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--mynah-color-status-success);
                opacity: 0.35;
                border-radius: 100%;
                transform: translate3d(0, 0, 0) scale(0);
                transform-origin: center center;
                pointer-events: none;
            }
        }
        &.flash-toggle > .mynah-toggle-container {
            overflow: visible;
            > .mynah-toggle-indicator-transitioner {
                &:before,
                &:after {
                    content: '';
                    transform: translate3d(0, 0, 0) scale(8);
                    opacity: 0;
                    transition: var(--mynah-short-transition);
                    transition-duration: 1750ms;
                }
                &:before {
                    transform: translate3d(0, 0, 0) scale(10);
                    transition-duration: 2000ms;
                    transition-delay: 200ms;
                }
            }
        }
    }
    > .mynah-search-input-wrapper,
    > .mynah-search-api-help {
        color: var(--mynah-color-text-input);
        width: 100%;
        flex: 1 1 100%;
        margin: var(--mynah-sizing-4) var(--mynah-sizing-4) 0 var(--mynah-sizing-4);
        display: flex;
    }

    > .mynah-search-api-help {
        flex-flow: column nowrap;
        padding: var(--mynah-sizing-half);
        box-sizing: border-box;
        border-radius: var(--mynah-card-radius);
        overflow: hidden;
        &.hide {
            display: none;
        }
        > .mynah-search-api-help-code-view-wrapper {
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            > .mynah-syntax-highlighter > pre {
                width: 100%;
                box-sizing: border-box;
                max-height: 50vh;
                overflow-x: auto;
                overflow-y: auto;
            }
        }

        > .mynah-search-api-help-code-view-detail-row {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            align-items: center;
            gap: var(--mynah-sizing-1);
            padding: 0 var(--mynah-sizing-3) 0 var(--mynah-sizing-3);
            &:nth-child(1) {
                margin-top: var(--mynah-sizing-3);
            }
            &:nth-child(2) {
                margin-bottom: var(--mynah-sizing-3);
            }
            > *:nth-child(1) {
                width: 110px;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            > *:nth-child(2) {
                flex: 1 1 0%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        > .mynah-search-api-help-collapser {
            display: flex;
            flex-flow: row nowrap;
            padding: var(--mynah-sizing-2);
            justify-content: center;
            align-items: center;
            font-size: var(--mynah-sizing-6);
            cursor: pointer;
            > .mynah-search-api-help-uncollapse-icon {
                display: none;
            }
            > .mynah-search-api-help-collapse-icon {
                display: inline-flex;
            }
        }

        &.collapsed {
            > .mynah-search-api-help-code-view-wrapper {
                cursor: pointer;
                > .mynah-syntax-highlighter > pre {
                    max-height: var(--mynah-sizing-16);
                    overflow-x: hidden;
                    overflow-y: hidden;
                }
            }
            > .mynah-search-api-help-code-view-detail-row {
                display: none;
            }
            > .mynah-search-api-help-collapser {
                > .mynah-search-api-help-uncollapse-icon {
                    display: inline-flex;
                }
                > .mynah-search-api-help-collapse-icon {
                    display: none;
                }
            }
        }
        &:not(:empty) + .mynah-search-input-wrapper {
            margin-top: 0;
        }
    }

    > .mynah-search-input-wrapper {
        border: 1px solid var(--mynah-color-border-default);
        padding: var(--mynah-sizing-2);
        margin-bottom: var(--mynah-sizing-3);
        border-radius: var(--mynah-card-radius);
        flex-flow: row nowrap;
        align-items: center;
        gap: var(--mynah-sizing-2);
        > .mynah-logo {
            width: var(--mynah-sizing-8);
            height: var(--mynah-sizing-8);
            opacity: 0.5;
        }
        > .mynah-search-input {
            flex: 1 1 0;
            border: none;
            background-color: rgba(0, 0, 0, 0);
            font-size: var(--mynah-font-size-large);
            color: var(--mynah-color-text-input);
            outline: none;
            width: 100%;
            &::placeholder {
                color: var(--mynah-color-text-weak);
                font-size: var(--mynah-font-size-small);
            }
            &:not(:placeholder-shown) + span {
                display: inline-block;
            }
            &:placeholder-shown:not(.search-always-active) ~ .mynah-search-button {
                background-color: var(--mynah-color-light);
                color: var(--mynah-color-text-default);
                box-shadow: 0 5px 10px -10px var(--mynah-color-light);
                pointer-events: none;
                > * {
                    opacity: 0.5;
                }
            }
            & + span {
                &:after {
                    content: attr(remaining-chars) '/' attr(max-chars);
                }
                display: none;
                opacity: 0.5;
                font-size: var(--mynah-font-size-xsmall);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: currentColor;
                margin-left: var(--mynah-sizing-1);
            }
        }
    }
    > .mynah-search-block-advanced-control {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        overflow: hidden;
        width: 100%;
        padding: 0 var(--mynah-sizing-4) var(--mynah-sizing-4) var(--mynah-sizing-4);
        transition: var(--mynah-very-short-transition);
        max-height: 50vh;
        > .mynah-context-wrapper {
            display: flex;
            flex-flow: row wrap;
            gap: var(--mynah-sizing-2);
            flex: 1 1 0%;
        }
    }

    &.mynah-search-block-ready-to-fold {
        > .mnynah-search-block-fold-unfold-button {
            transform: translate3d(0, 0, 0) scale(1.000001);
            opacity: 1;
            pointer-events: all;
        }
        &:not(.mynah-search-block-unfold) {
            > .mnynah-search-block-fold-unfold-button {
                > .mynah-icon-up-open {
                    display: none;
                }
                > .mynah-icon-down-open {
                    display: inline-flex;
                }
            }
            > .mynah-search-block-advanced-control {
                max-height: 0;
                opacity: 0.4;
                -webkit-mask-image: var(--mynah-mask-image-main-rev);
                -webkit-mask-size: 100% 150%;
                mask-image: var(--mynah-mask-image-main-rev);
                mask-size: 100% 200%;
                > #add-new-context {
                    transform: translate3d(0, calc(-1 * var(--mynah-sizing-10)), 0) scale(0.5) !important;
                    opacity: 0 !important;
                    margin-bottom: calc(-1 * var(--mynah-sizing-10));
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .mynah-search-block {
        border-radius: 0;
        margin: 0;
    }
}
