.mynah-syntax-highlighter {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    border: 1px solid var(--mynah-color-border-default);
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--vscode-terminal-dropBackground);
        opacity: 0.12;
        pointer-events: none;
        user-select: none;
    }
    > .mynah-syntax-highlighter-copy-buttons {
        justify-content: flex-end;
        display: flex;
        padding: var(--mynah-sizing-1);
        z-index: 10;
        .mynah-button {
            font-size: var(--mynah-sizing-5);
            color: var(--mynah-color-button);
        }
    }
    &:hover > .mynah-syntax-highlighter-copy-buttons {
        opacity: 1;
    }
    > pre {
        padding: var(--mynah-sizing-3);
        margin: 0;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;

        *,
        & {
            font-size: var(--vscode-editor-font-size) !important;
            font-family: var(--vscode-editor-font-family) !important;
        }
        > code {
            color: var(--vscode-terminal-ansiBlue);
            filter: brightness(0.95);
            white-space: pre;
        }
        .amzn-mynah-search-result-highlight {
            background-color: var(--mynah-color-highlight);
            color: var(--mynah-color-highlight-text);
        }

        > code,
        & {
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            word-wrap: normal;
            tab-size: 4;
            hyphens: none;
        }
        > code::selection,
        &::selection {
            text-shadow: none;
            background: #b3d4fc;
        }

        .token.comment,
        .token.prolog,
        .token.doctype,
        .token.cdata {
            color: var(--vscode-debugConsole-sourceForeground);
        }

        .token.punctuation {
            color: currentColor;
        }

        .token.namespace {
            opacity: 0.7;
        }

        .token.property,
        .token.tag,
        .token.boolean,
        .token.number,
        .token.constant,
        .token.symbol,
        .token.deleted {
            color: var(--vscode-terminal-ansiCyan);
        }

        .token.selector,
        .token.attr-name,
        .token.string,
        .token.char,
        .token.builtin,
        .token.inserted {
            color: var(--vscode-debugTokenExpression-string);
        }

        .token.operator,
        .token.entity,
        .token.url,
        .language-css .token.string,
        .style .token.string {
            color: var(--vscode-debugTokenExpression-name);
        }

        .token.atrule,
        .token.attr-value,
        .token.keyword {
            color: var(--vscode-debugIcon-stepBackForeground);
        }

        .token.class-name {
            color: var(--vscode-debugIcon-stepBackForeground);
        }
        .token.function {
            color: var(--vscode-gitDecoration-modifiedResourceForeground);
        }

        .token.regex,
        .token.important,
        .token.variable {
            color: var(--vscode-debugTokenExpression-name);
        }

        .token.important,
        .token.bold {
            font-weight: bold;
        }
        .token.italic {
            font-style: italic;
        }

        .token.entity {
            cursor: help;
        }

        &.line-numbers {
            position: relative;
            padding-left: 3.8em;
            counter-reset: linenumber;
            position: relative;
        }

        > .line-numbers-rows {
            position: absolute;
            > span,
            & {
                pointer-events: none;
                user-select: none;
            }
            top: var(--mynah-sizing-2);
            font-size: 100%;
            left: 0;
            width: var(--mynah-sizing-12);
            overflow: hidden;
            text-overflow: clip;
            letter-spacing: -1px;
            border-right: 1px solid var(--mynah-color-border-default);

            > span {
                display: block;
                color: var(--mynah-color-border-default);
                padding-right: 0.8em;
                text-align: right;
            }
        }
    }
}
