<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>

  <main>
  <h1>Oops! We hit a snag.</h1>
  <p class="centered">Please try again later. Sorry for the inconvenience.</p>

<%- include('includes/end.ejs') %>