#app {
    font-family: sans-serif;
}

.panel-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-bottom: 1px solid;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 10px;
    margin-right: 50px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.table-name {
    font-size: 2em;
    font-weight: bold;
}

.table-section {
    overflow-y: auto;
    flex-grow: 1;
}

vscode-link {
    font-size: 1.5em;
}

/* vscode-data-grid-row.sticky-header {
    border-bottom: 1px solid;
} */

vscode-data-grid-row {
    width: max-content;
}

.disabled {
    pointer-events: none;
    color: gray;
}

vscode-data-grid-cell {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    min-height: 35px;
    text-align: left;
}

vscode-panels {
    width: 100%;
}

vscode-panel-view#view-1,
vscode-panel-view#view-2 {
    width: 100%;
    justify-content: space-between;
}

.query-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    row-gap: 15px;
}

.run-section {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    column-gap: 15px;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
