@import url('./icons.css');

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Amazon Ember', 'Helvetica Neue', Roboto, Arial, sans-serif;
    font-size: 0.9rem;
    background-color: #f2f3f3;
    justify-content: center;
    min-width: 400px;
}

.flex-container {
    background-color: #ffffff;
    width: 30%;
    margin: 0 auto;
    padding: 2% 2% 1% 2%;
    max-width: 400px;
    box-shadow: 0px 1px 1px 1px #8a969a;
}

.request {
    border-block: 1px solid;
    border-inline: 1px solid;
    border-end-end-radius: 3px;
    border-end-start-radius: 3px;
    border-start-end-radius: 3px;
    border-start-start-radius: 3px;
    margin-top: 5%;
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.request h4 {
    margin: 1% 1% 1% 0%;
}

.request p {
    margin-bottom: 0;
    margin-top: 2%;
}

.approval {
    background-color: #f2f8f0;
    border-color: #1d8102;
}

.denial {
    background-color: #fff7f7;
    border-color: #d91515;
}

.request-container {
    width: 100%;
}

.success-icon {
    color: #1d8102;
    padding-right: 5px;
}

.denial-icon {
    color: #d91515;
    padding-right: 5px;
}

.center-icon {
    width: 100%;
    text-align: center;
}

.hidden {
    display: none;
    visibility: none;
}

.hint {
    color: #16191f;
}

.aws-icon {
    margin-bottom: 50px;
}
