---
name: unreliable test
about: Help us monitor our test suite by reporting flaky tests.
labels: tests-ci-cd
---

## Test Details

-   Name of test:
-   OS of failure:
-   VSCode version of failure (minimum/insider/stable):
-   Link to failing run:
-   Link to failing test:

## Log of Test Failure

## Additional Information
