html,
body {
    font-family: var(
        --markdown-font-family,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe WPC',
        'Segoe UI',
        system-ui,
        'Ubuntu',
        'Droid Sans',
        sans-serif
    );
    font-size: var(--markdown-font-size, 14px);
    padding: 0 26px;
    line-height: var(--markdown-line-height, 22px);
    word-wrap: break-word;
}

body {
    padding-top: 1em;
}

/* Reset margin top for elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
pre {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
}

/* Prevent `sub` and `sup` elements from affecting line height */
sub,
sup {
    line-height: 0;
}

ul ul:first-child,
ul ol:first-child,
ol ul:first-child,
ol ol:first-child {
    margin-bottom: 0;
}

img,
video {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
    outline: 1px solid -webkit-focus-ring-color;
    outline-offset: -1px;
}

p {
    margin-bottom: 16px;
}

li p {
    margin-bottom: 0.7em;
}

ul,
ol {
    margin-bottom: 0.7em;
}

hr {
    border: 0;
    height: 1px;
    border-bottom: 1px solid;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 0.3em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: 0.85em;
}

table {
    border-collapse: collapse;
    margin-bottom: 0.7em;
}

th {
    text-align: left;
    border-bottom: 1px solid;
}

th,
td {
    padding: 5px 10px;
}

table > tbody > tr + tr > td {
    border-top: 1px solid;
}

blockquote {
    margin: 0;
    padding: 2px 16px 0 10px;
    border-left-width: 5px;
    border-left-style: solid;
    border-radius: 2px;
}

code {
    font-family: var(
        --vscode-editor-font-family,
        'SF Mono',
        Monaco,
        Menlo,
        Consolas,
        'Ubuntu Mono',
        'Liberation Mono',
        'DejaVu Sans Mono',
        'Courier New',
        monospace
    );
    font-size: 1em;
    line-height: 1.357em;
}

body.wordWrap pre {
    white-space: pre-wrap;
}

pre:not(.hljs),
pre.hljs code > div {
    padding: 0 16px 16px 16px;
    border-radius: 3px;
    overflow: auto;
}

pre code {
    color: var(--vscode-editor-foreground);
    tab-size: 4;
}

pre {
    background-color: var(--vscode-textCodeBlock-background);
    border: 1px solid var(--vscode-widget-border);
}

/* These styles are used to render code diff with markdown-it rendered output */
.hljs-addition {
    background-color: var(--vscode-diffEditor-insertedTextBackground, rgba(155, 185, 85, 0.2));
    color: var(--vscode-diffEditorOverview-insertedForeground, rgb(155, 185, 85));
    display: inline-block;
    width: 100%;
    margin: 0 -16px;
    padding: 0 16px;
}

.hljs-deletion {
    background-color: var(--vscode-diffEditor-removedTextBackground, rgba(255, 0, 0, 0.2));
    color: var(--vscode-diffEditorOverview-removedForeground, rgb(255, 0, 0));
    display: inline-block;
    width: 100%;
    margin: 0 -16px;
    padding: 0 16px;
}

.hljs-meta {
    background-color: var(--vscode-editorMarkerNavigationInfo-headerBackground);
    color: var(--vscode-editorOverviewRuler-selectionHighlightForeground);
    display: inline-block;
    width: 100%;
    margin: 0 -16px;
    padding: 8px 16px;
}

input[type='submit'] {
    background-color: var(--vscode-button-background);
    border: none;
    color: var(--vscode-button-foreground);
    padding: 6px 14px;
    cursor: pointer;
    border-radius: 5%;
}

input[type='submit']:hover {
    background-color: var(--vscode-button-hoverBackground);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container > div {
    flex: 33%;
}

@media screen and (max-width: 900px) {
    .flex-container > div {
        flex: 50%;
    }
}

@media screen and (max-width: 400px) {
    .flex-container {
        flex-direction: column;
    }
}

hr {
    border: unset;
    height: unset;
    border-bottom: 1px solid var(--vscode-menu-separatorBackground);
}

img.severity {
    height: 0.75em;
}
