form {
    padding: 15px;
}

.section-header {
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

textarea {
    max-width: 100%;
}

.config-item {
    border-bottom: 1px solid var(--vscode-menubar-selectionBackground);
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 8px 0px;
}

.col2 {
    grid-column: 2;
}

.data-view {
    display: none;
    border: dashed rgb(218, 31, 31) 1px;
    color: rgb(218, 31, 31);
}

.required {
    color: red;
}

#form-title {
    font-size: large;
    font-weight: bold;
}

.form-buttons {
    margin-left: 20px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

#target-type-selector {
    margin-bottom: 15px;
    margin-left: 8px;
}
