{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-04-27",
        "endpointPrefix": "consolas",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Vector Consolas Service and Client Sdks",
        "serviceId": "Consolas",
        "signatureVersion": "v4",
        "signingName": "consolas",
        "targetPrefix": "AWSVectorConsolasRuntimeService",
        "uid": "consolas-2022-04-27"
    },
    "operations": {
        "CreateSecurityScan": {
            "name": "CreateSecurityScan",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateSecurityScanRequest"
            },
            "output": {
                "shape": "CreateSecurityScanResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                }
            ],
            "documentation": "<p>Create a security scan job</p>",
            "idempotent": true
        },
        "CreateUploadUrl": {
            "name": "CreateUploadUrl",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "CreateUploadUrlRequest"
            },
            "output": {
                "shape": "CreateUploadUrlResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "documentation": "<p>Create a presigned s3 write URL for uploading customer repository zip archive</p>",
            "idempotent": true
        },
        "GenerateRecommendations": {
            "name": "GenerateRecommendations",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GenerateRecommendationsRequest"
            },
            "output": {
                "shape": "GenerateRecommendationsResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "documentation": "<p>Generate recommendations according to the file context and return to the user</p>"
        },
        "GetAccessToken": {
            "name": "GetAccessToken",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetAccessTokenRequest"
            },
            "output": {
                "shape": "GetAccessTokenResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "documentation": "<p>API to vend AccessToken in exchange of Identity token to access Consolas Recommendations API.</p>"
        },
        "GetSecurityScan": {
            "name": "GetSecurityScan",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "GetSecurityScanRequest"
            },
            "output": {
                "shape": "GetSecurityScanResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "documentation": "<p>Get metadata of a security scan job.</p>"
        },
        "ListRecommendations": {
            "name": "ListRecommendations",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ListRecommendationsRequest"
            },
            "output": {
                "shape": "ListRecommendationsResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "documentation": "<p>List recommendations according to the file context and return to the user, will support pagination</p>"
        },
        "ListSecurityIssues": {
            "name": "ListSecurityIssues",
            "http": {
                "method": "POST",
                "requestUri": "/"
            },
            "input": {
                "shape": "ListSecurityIssuesRequest"
            },
            "output": {
                "shape": "ListSecurityIssuesResponse"
            },
            "errors": [
                {
                    "shape": "InternalServerException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ValidationException"
                }
            ],
            "documentation": "<p>List security issues</p>"
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when the user does not have sufficient access to perform this action.</p>",
            "exception": true
        },
        "ArtifactMap": {
            "type": "map",
            "key": {
                "shape": "ArtifactType"
            },
            "value": {
                "shape": "ImportId"
            },
            "documentation": "<p>Specifies the artifact map used for security scan.</p>"
        },
        "ArtifactType": {
            "type": "string",
            "documentation": "<p>Specifies the artifact type used for security scan.</p>",
            "enum": ["SourceCode", "BuiltJars"]
        },
        "ConflictException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when the action to perform could not be completed because the resource is in a conflicting state.</p>",
            "exception": true
        },
        "ContextInfo": {
            "type": "structure",
            "required": ["filename", "programmingLanguage"],
            "members": {
                "filename": {
                    "shape": "ContextInfoFilenameString"
                },
                "naturalLanguageCode": {
                    "shape": "ContextInfoNaturalLanguageCodeString",
                    "deprecated": true
                },
                "programmingLanguage": {
                    "shape": "ProgrammingLanguage"
                }
            }
        },
        "ContextInfoFilenameString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "ContextInfoNaturalLanguageCodeString": {
            "type": "string",
            "max": 5,
            "min": 2,
            "pattern": "[a-zA-Z]{2}(-[a-zA-Z]{2})?"
        },
        "CreateSecurityScanRequest": {
            "type": "structure",
            "required": ["artifacts", "language", "clientToken"],
            "members": {
                "artifacts": {
                    "shape": "ArtifactMap"
                },
                "language": {
                    "shape": "CreateSecurityScanRequestLanguageString"
                },
                "clientToken": {
                    "shape": "String",
                    "idempotencyToken": true
                }
            }
        },
        "CreateSecurityScanRequestLanguageString": {
            "type": "string",
            "max": 20,
            "min": 1,
            "pattern": ".*(python|javascript|java)"
        },
        "CreateSecurityScanResponse": {
            "type": "structure",
            "required": ["jobId", "status"],
            "members": {
                "jobId": {
                    "shape": "CreateSecurityScanResponseJobIdString"
                },
                "status": {
                    "shape": "SecurityScanStatus"
                },
                "errorMessage": {
                    "shape": "String"
                }
            }
        },
        "CreateSecurityScanResponseJobIdString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "CreateUploadUrlRequest": {
            "type": "structure",
            "required": ["contentMd5", "artifactType", "clientToken"],
            "members": {
                "contentMd5": {
                    "shape": "CreateUploadUrlRequestContentMd5String"
                },
                "kmsArn": {
                    "shape": "CreateUploadUrlRequestKmsArnString"
                },
                "artifactType": {
                    "shape": "ArtifactType"
                },
                "clientToken": {
                    "shape": "String",
                    "idempotencyToken": true
                }
            }
        },
        "CreateUploadUrlRequestContentMd5String": {
            "type": "string",
            "max": 63,
            "min": 1
        },
        "CreateUploadUrlRequestKmsArnString": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "arn:aws:kms:([a-z0-9][-.a-z0-9]{0,62})?:[0-9]{12}?:[^/].{0,1023}"
        },
        "CreateUploadUrlResponse": {
            "type": "structure",
            "required": ["importId", "uploadUrl"],
            "members": {
                "importId": {
                    "shape": "ImportId"
                },
                "uploadUrl": {
                    "shape": "Url"
                }
            }
        },
        "FileContext": {
            "type": "structure",
            "required": ["leftFileContent", "rightFileContent"],
            "members": {
                "leftFileContent": {
                    "shape": "FileContextLeftFileContentString"
                },
                "rightFileContent": {
                    "shape": "FileContextRightFileContentString"
                }
            }
        },
        "FileContextLeftFileContentString": {
            "type": "string",
            "max": 25600,
            "min": 0,
            "sensitive": true
        },
        "FileContextRightFileContentString": {
            "type": "string",
            "max": 25600,
            "min": 0,
            "sensitive": true
        },
        "GenerateRecommendationsRequest": {
            "type": "structure",
            "required": ["fileContext", "contextInfo"],
            "members": {
                "fileContext": {
                    "shape": "FileContext"
                },
                "contextInfo": {
                    "shape": "ContextInfo"
                },
                "maxRecommendations": {
                    "shape": "GenerateRecommendationsRequestMaxRecommendationsInteger",
                    "deprecated": true
                },
                "maxResults": {
                    "shape": "GenerateRecommendationsRequestMaxResultsInteger"
                }
            }
        },
        "GenerateRecommendationsRequestMaxRecommendationsInteger": {
            "type": "integer",
            "box": true,
            "max": 10,
            "min": 1
        },
        "GenerateRecommendationsRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 10,
            "min": 1
        },
        "GenerateRecommendationsResponse": {
            "type": "structure",
            "members": {
                "recommendations": {
                    "shape": "RecommendationsList"
                }
            }
        },
        "GetAccessTokenRequest": {
            "type": "structure",
            "required": ["identityToken"],
            "members": {
                "identityToken": {
                    "shape": "GetAccessTokenRequestIdentityTokenString"
                }
            }
        },
        "GetAccessTokenRequestIdentityTokenString": {
            "type": "string",
            "max": 1024,
            "min": 0
        },
        "GetAccessTokenResponse": {
            "type": "structure",
            "members": {
                "accessToken": {
                    "shape": "String"
                }
            }
        },
        "GetSecurityScanRequest": {
            "type": "structure",
            "required": ["jobId"],
            "members": {
                "jobId": {
                    "shape": "GetSecurityScanRequestJobIdString"
                }
            }
        },
        "GetSecurityScanRequestJobIdString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "GetSecurityScanResponse": {
            "type": "structure",
            "required": ["status"],
            "members": {
                "status": {
                    "shape": "SecurityScanStatus"
                },
                "errorMessage": {
                    "shape": "String"
                }
            }
        },
        "ImportId": {
            "type": "string",
            "documentation": "<p>Artifact Import Id</p>",
            "max": 100,
            "min": 1
        },
        "InternalServerException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when unexpected error occurred during processing of request.</p>",
            "exception": true,
            "fault": true,
            "retryable": {
                "throttling": false
            }
        },
        "ListRecommendationsRequest": {
            "type": "structure",
            "required": ["fileContext", "contextInfo"],
            "members": {
                "fileContext": {
                    "shape": "FileContext"
                },
                "contextInfo": {
                    "shape": "ContextInfo"
                },
                "maxResults": {
                    "shape": "ListRecommendationsRequestMaxResultsInteger"
                },
                "nextToken": {
                    "shape": "ListRecommendationsRequestNextTokenString"
                }
            },
            "documentation": "<p>Next Token: { UserIdentifier: { type: &lt;SSO | IAM | ACCT_LESS | SONO&gt; tokenId: <string> }, SessionIdentifier: <UUID-string>, NextRecommendationIndex: <int>, VersionId: <int>, CreationTimeInMillis: <long> } We don't pass NextToken object as it is to MH APIs, instead only fields which are required. The idea is to treat NextToken as ReadOnly to avoid NextToken mutation at multiple places. RTS should be the sole source of NextToken. MH needs userIdentifier, sessionIdentifier and nextRecommendationIndex only, we pass <code>nextRecommendationIndex</code> as it is and the 1st two as a different object all together, requestIdentifier: { userId: hash(UserIdentifier), sessionId: <SessionIdentifier> } In request path, RTS will base64 decode, decrypt and json deserialize <code>nextToken</code>. Then it will extract fields of <code>requestIdentifier</code> and <code>nextRecommendationIndex</code> as only these fileds are required on MH side and receive back recommendations. The idea is to treat NextToken as readonly on MH side to avoid accidental modifications to NextToken</p>"
        },
        "ListRecommendationsRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 10,
            "min": 1
        },
        "ListRecommendationsRequestNextTokenString": {
            "type": "string",
            "max": 2048,
            "min": 0,
            "pattern": "(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}\\=\\=|[A-Za-z0-9\\+/]{3}\\=)?"
        },
        "ListRecommendationsResponse": {
            "type": "structure",
            "members": {
                "recommendations": {
                    "shape": "RecommendationsList"
                },
                "nextToken": {
                    "shape": "String"
                }
            },
            "documentation": "<p>In response path, RTS will JSON serialize, encrypt using KMS and base64 encode NextToken to produce one string and send it to plugin</p>"
        },
        "ListSecurityIssuesRequest": {
            "type": "structure",
            "required": ["jobId"],
            "members": {
                "jobId": {
                    "shape": "String"
                },
                "nextToken": {
                    "shape": "PaginationToken"
                }
            }
        },
        "ListSecurityIssuesResponse": {
            "type": "structure",
            "required": ["securityIssues"],
            "members": {
                "nextToken": {
                    "shape": "PaginationToken"
                },
                "securityIssues": {
                    "shape": "String"
                }
            }
        },
        "PaginationToken": {
            "type": "string",
            "documentation": "<p>Security issues pagination token</p>",
            "max": 2048,
            "min": 1,
            "pattern": "\\S+"
        },
        "ProgrammingLanguage": {
            "type": "structure",
            "required": ["languageName"],
            "members": {
                "languageName": {
                    "shape": "ProgrammingLanguageLanguageNameString"
                },
                "runtimeVersion": {
                    "shape": "ProgrammingLanguageRuntimeVersionString"
                }
            }
        },
        "ProgrammingLanguageLanguageNameString": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "(python|javascript|java)"
        },
        "ProgrammingLanguageRuntimeVersionString": {
            "type": "string",
            "max": 128,
            "min": 1
        },
        "RecommendationDetail": {
            "type": "structure",
            "required": ["content"],
            "members": {
                "content": {
                    "shape": "RecommendationDetailContentString"
                },
                "references": {
                    "shape": "References"
                }
            }
        },
        "RecommendationDetailContentString": {
            "type": "string",
            "max": 5120,
            "min": 1,
            "sensitive": true
        },
        "RecommendationsList": {
            "type": "list",
            "member": {
                "shape": "RecommendationDetail"
            },
            "max": 10,
            "min": 0
        },
        "Reference": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "ReferenceMessageString"
                },
                "licenseName": {
                    "shape": "ReferenceLicenseNameString"
                },
                "repository": {
                    "shape": "ReferenceRepositoryString"
                },
                "contentSpan": {
                    "shape": "Span"
                }
            }
        },
        "ReferenceLicenseNameString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "ReferenceMessageString": {
            "type": "string",
            "max": 5120,
            "min": 1
        },
        "ReferenceRepositoryString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "References": {
            "type": "list",
            "member": {
                "shape": "Reference"
            },
            "max": 10,
            "min": 0
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when describing a resource that does not exist.</p>",
            "exception": true
        },
        "SecurityScanStatus": {
            "type": "string",
            "documentation": "<p>Security scan job status</p>",
            "enum": ["Completed", "Pending", "Failed"]
        },
        "Span": {
            "type": "structure",
            "members": {
                "start": {
                    "shape": "SpanStartInteger"
                },
                "end": {
                    "shape": "SpanEndInteger"
                }
            }
        },
        "SpanEndInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "SpanStartInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "String": {
            "type": "string"
        },
        "ThrottlingException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when request was denied due to request throttling.</p>",
            "exception": true,
            "retryable": {
                "throttling": false
            }
        },
        "Url": {
            "type": "string",
            "documentation": "<p>S3 PreSignedURL</p>",
            "max": 1024,
            "min": 1
        },
        "ValidationException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>This exception is thrown when the input fails to satisfy the constraints specified by the service.</p>",
            "exception": true
        }
    },
    "documentation": "<p>Provides Consolas suggestion and Security Scan.</p>"
}
