.service-item-content-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    gap: 10px;

    border-color: #0097fb;

    width: 700px;

    padding: 30px;
}

.service-item-content-container-title {
    display: inline;
    font-size: large;
    font-weight: bold;
}

.service-item-content-container hr {
    border: none;
    height: 1px;
    background-color: #4d4d4d;
    width: 100%;
}

.service-item-content-form-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-section-title {
    display: inline;
    font-size: 14px;
    font-weight: bold;
}

.service-item-content-form-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
