.service-item-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-color: #0097fb;

    width: 700px;
    height: 100%;

    /* For testing purposes, before we have content to fill */
    min-height: 600px;
}

.form-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
