<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <div class="uk-section uk-section-default uk-text-center">
        <div class="uk-container uk-container-small">
          <article class="uk-article">
            <h1 class="uk-article-title ui-card-title">About Us</h1>
            <p class="uk-text-lead">This is W3Schools Spaces webshop template</p>
          </article>
        </div>
      </div>
    </main>
    <%- include('../includes/end.ejs') %>