<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <div class="uk-section uk-section-default">
        <div class="uk-container uk-container-medium">

          <article class="uk-article" style="color: #000;">
            <h1 class="uk-article-title ui-card-title">Contact Us</h1>
            <p class="uk-text-large uk-text-bold">Phone</p>
            <p class="uk-text-small uk-text">+47 999 99 999</p>
            <p class="uk-text-large uk-text-bold">Email</p>
            <p class="uk-text-small uk-text">contact@mywebshop.com</p>
          </article>
        </div>
      </div>
    </main>
    <%- include('../includes/end.ejs') %>