{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "weaverbirdservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "A beautiful and amazing WeaverbirdService",
        "serviceId": "Weaverbird",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "weaverbird-2018-05-10"
    },
    "operations": {
        "CreateUploadUrl": {
            "name": "CreateUploadUrl",
            "http": {
                "method": "POST",
                "requestUri": "/createUploadUrl",
                "responseCode": 200
            },
            "input": { "shape": "CreateUploadUrlRequest" },
            "output": { "shape": "CreateUploadUrlResponse" }
        },
        "Echo": {
            "name": "Echo",
            "http": {
                "method": "POST",
                "requestUri": "/echo",
                "responseCode": 200
            },
            "input": { "shape": "EchoInput" },
            "output": { "shape": "EchoOutput" },
            "errors": [{ "shape": "InvalidInputException" }]
        },
        "ExecutePlanningInteraction": {
            "name": "ExecutePlanningInteraction",
            "http": {
                "method": "POST",
                "requestUri": "/executePlanningInteraction",
                "responseCode": 200
            },
            "input": { "shape": "PlanningInteractionRequest" },
            "output": { "shape": "PlanningInteractionResponse" }
        },
        "GenerateApproach": {
            "name": "GenerateApproach",
            "http": {
                "method": "POST",
                "requestUri": "/generateApproach",
                "responseCode": 200
            },
            "input": { "shape": "GenerateApproachInput" },
            "output": { "shape": "GenerateApproachOutput" },
            "errors": [{ "shape": "InvalidInputException" }]
        },
        "GenerateCode": {
            "name": "GenerateCode",
            "http": {
                "method": "POST",
                "requestUri": "/generateCode",
                "responseCode": 200
            },
            "input": { "shape": "GenerateCodeInput" },
            "output": { "shape": "GenerateCodeOutput" },
            "errors": [{ "shape": "InvalidInputException" }]
        },
        "GetCodeGenerationInteractionResult": {
            "name": "GetCodeGenerationInteractionResult",
            "http": {
                "method": "POST",
                "requestUri": "/getCodeGenerationInteractionResult",
                "responseCode": 200
            },
            "input": { "shape": "GetCodeGenInteractionResultRequest" },
            "output": { "shape": "GetCodeGenInteractionResultResponse" }
        },
        "GetCodeGenerationResult": {
            "name": "GetCodeGenerationResult",
            "http": {
                "method": "POST",
                "requestUri": "/getCodeGenerationResult",
                "responseCode": 200
            },
            "input": { "shape": "GetCodeGenerationResultInput" },
            "output": { "shape": "GetCodeGenerationResultOutput" },
            "errors": [{ "shape": "InvalidInputException" }]
        },
        "GetCodeIterationResult": {
            "name": "GetCodeIterationResult",
            "http": {
                "method": "POST",
                "requestUri": "/getCodeIterationResult",
                "responseCode": 200
            },
            "input": { "shape": "GetCodeIterationResultInput" },
            "output": { "shape": "GetCodeIterationResultOutput" },
            "errors": [{ "shape": "InvalidInputException" }]
        },
        "IterateApproach": {
            "name": "IterateApproach",
            "http": {
                "method": "POST",
                "requestUri": "/iterateApproach",
                "responseCode": 200
            },
            "input": { "shape": "IterateApproachInput" },
            "output": { "shape": "IterateApproachOutput" },
            "errors": [{ "shape": "InvalidInputException" }]
        },
        "IterateCode": {
            "name": "IterateCode",
            "http": {
                "method": "POST",
                "requestUri": "/iterateCode",
                "responseCode": 200
            },
            "input": { "shape": "IterateCodeInput" },
            "output": { "shape": "IterateCodeOutput" },
            "errors": [{ "shape": "InvalidInputException" }]
        },
        "StartCodeGenerationInteraction": {
            "name": "StartCodeGenerationInteraction",
            "http": {
                "method": "POST",
                "requestUri": "/startCodeGenerationInteraction",
                "responseCode": 200
            },
            "input": { "shape": "StartCodeGenerationInteractionRequest" },
            "output": { "shape": "StartCodeGenerationInteractionResponse" }
        },
        "StartConversation": {
            "name": "StartConversation",
            "http": {
                "method": "POST",
                "requestUri": "/startConversation",
                "responseCode": 200
            },
            "input": { "shape": "StartConversationRequest" },
            "output": { "shape": "StartConversationResponse" }
        }
    },
    "shapes": {
        "AssistantResponseEvent": {
            "type": "structure",
            "required": ["content"],
            "members": {
                "content": { "shape": "AssistantResponseEventContentString" }
            },
            "event": true
        },
        "AssistantResponseEventContentString": {
            "type": "string",
            "max": 10240,
            "min": 0,
            "sensitive": true
        },
        "AssistantResponseMessage": {
            "type": "structure",
            "required": ["content"],
            "members": {
                "messageId": { "shape": "AssistantResponseMessageMessageIdString" },
                "content": { "shape": "AssistantResponseMessageContentString" },
                "supplementaryWebLinks": { "shape": "SupplementaryWebLinks" },
                "references": { "shape": "References" },
                "followupPrompt": { "shape": "FollowupPrompt" }
            }
        },
        "AssistantResponseMessageContentString": {
            "type": "string",
            "max": 4096,
            "min": 0,
            "sensitive": true
        },
        "AssistantResponseMessageMessageIdString": {
            "type": "string",
            "max": 128,
            "min": 0
        },
        "Boolean": {
            "type": "boolean",
            "box": true
        },
        "ChatHistory": {
            "type": "list",
            "member": { "shape": "ChatMessage" },
            "max": 10,
            "min": 0
        },
        "ChatMessage": {
            "type": "structure",
            "members": {
                "userInputMessage": { "shape": "UserInputMessage" },
                "assistantResponseMessage": { "shape": "AssistantResponseMessage" }
            },
            "union": true
        },
        "ChatResponseStream": {
            "type": "structure",
            "members": {
                "messageMetadataEvent": { "shape": "MessageMetadataEvent" },
                "assistantResponseEvent": { "shape": "AssistantResponseEvent" },
                "codeReferenceEvent": { "shape": "CodeReferenceEvent" },
                "supplementaryWebLinksEvent": { "shape": "SupplementaryWebLinksEvent" },
                "followupPromptEvent": { "shape": "FollowupPromptEvent" },
                "error": { "shape": "InternalServerException" }
            },
            "eventstream": true
        },
        "ChatTriggerType": {
            "type": "string",
            "enum": ["MANUAL", "DIAGNOSTIC"]
        },
        "CodeGenStatus": {
            "type": "structure",
            "required": ["status", "currentStage"],
            "members": {
                "status": { "shape": "CodeGenerationWorkflowStatus" },
                "currentStage": { "shape": "CodeGenerationWorkflowStage" }
            }
        },
        "CodeGenerationResult": {
            "type": "structure",
            "members": {
                "newFileContents": { "shape": "FileMetadataList" },
                "deletedFiles": { "shape": "DeletedFilesList" }
            }
        },
        "CodeGenerationStatus": {
            "type": "string",
            "enum": ["ready", "failed", "in-progress"]
        },
        "CodeGenerationWorkflowStage": {
            "type": "string",
            "enum": ["InitialCodeGeneration", "Debate"]
        },
        "CodeGenerationWorkflowStatus": {
            "type": "string",
            "enum": ["InProgress", "Complete", "Failed"]
        },
        "CodeReferenceEvent": {
            "type": "structure",
            "members": {
                "references": { "shape": "References" }
            },
            "event": true
        },
        "Config": {
            "type": "structure",
            "members": {
                "model": { "shape": "Model" },
                "maxTokensToSample": { "shape": "Integer" },
                "temperature": { "shape": "Double" },
                "debateRounds": { "shape": "Integer" },
                "debateParticipantsCount": { "shape": "Integer" }
            }
        },
        "ContextTruncationScheme": {
            "type": "string",
            "enum": ["ANALYSIS", "GUMBY"]
        },
        "ConversationId": {
            "type": "string",
            "max": 128,
            "min": 1
        },
        "ConversationState": {
            "type": "structure",
            "required": ["currentMessage", "chatTriggerType"],
            "members": {
                "conversationId": { "shape": "ConversationId" },
                "history": { "shape": "ChatHistory" },
                "currentMessage": { "shape": "ChatMessage" },
                "chatTriggerType": { "shape": "ChatTriggerType" }
            }
        },
        "CreateUploadUrlRequest": {
            "type": "structure",
            "required": ["conversationId", "contentChecksumSha256", "uploadIntent"],
            "members": {
                "conversationId": { "shape": "ConversationId" },
                "contentChecksumSha256": { "shape": "CreateUploadUrlRequestContentChecksumSha256String" },
                "uploadIntent": { "shape": "UploadIntent" }
            }
        },
        "CreateUploadUrlRequestContentChecksumSha256String": {
            "type": "string",
            "max": 64,
            "min": 64
        },
        "CreateUploadUrlResponse": {
            "type": "structure",
            "required": ["uploadId", "uploadUrl"],
            "members": {
                "uploadId": { "shape": "UploadId" },
                "uploadUrl": { "shape": "CreateUploadUrlResponseUploadUrlString" },
                "kmsKeyArn": { "shape": "CreateUploadUrlResponseKmsKeyArnString" }
            }
        },
        "CreateUploadUrlResponseKmsKeyArnString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "CreateUploadUrlResponseUploadUrlString": {
            "type": "string",
            "max": 2048,
            "min": 1
        },
        "CursorState": {
            "type": "structure",
            "members": {
                "position": { "shape": "Position" },
                "range": { "shape": "Range" }
            },
            "union": true
        },
        "DeletedFilesList": {
            "type": "list",
            "member": { "shape": "String" }
        },
        "Diagnostic": {
            "type": "structure",
            "members": {
                "textDocumentDiagnostic": { "shape": "TextDocumentDiagnostic" },
                "runtimeDiagnostic": { "shape": "RuntimeDiagnostic" }
            },
            "union": true
        },
        "DiagnosticSeverity": {
            "type": "string",
            "enum": ["ERROR", "WARNING", "INFORMATION", "HINT"]
        },
        "DocumentSymbol": {
            "type": "structure",
            "required": ["name", "type"],
            "members": {
                "name": { "shape": "DocumentSymbolNameString" },
                "type": { "shape": "SymbolType" },
                "source": { "shape": "DocumentSymbolSourceString" }
            }
        },
        "DocumentSymbolNameString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "DocumentSymbolSourceString": {
            "type": "string",
            "max": 256,
            "min": 1
        },
        "DocumentSymbols": {
            "type": "list",
            "member": { "shape": "DocumentSymbol" },
            "max": 1000,
            "min": 0
        },
        "Double": {
            "type": "double",
            "box": true
        },
        "EchoInput": {
            "type": "structure",
            "members": {
                "string": { "shape": "String" }
            }
        },
        "EchoOutput": {
            "type": "structure",
            "members": {
                "string": { "shape": "String" }
            }
        },
        "EditorState": {
            "type": "structure",
            "required": ["document", "cursorState"],
            "members": {
                "document": { "shape": "TextDocument" },
                "cursorState": { "shape": "CursorState" }
            }
        },
        "FileMetadata": {
            "type": "structure",
            "required": ["filePath", "fileContent"],
            "members": {
                "filePath": { "shape": "String" },
                "fileContent": { "shape": "String" }
            }
        },
        "FileMetadataList": {
            "type": "list",
            "member": { "shape": "FileMetadata" }
        },
        "FollowupPrompt": {
            "type": "structure",
            "required": ["content"],
            "members": {
                "content": { "shape": "FollowupPromptContentString" },
                "userIntent": { "shape": "UserIntent" }
            }
        },
        "FollowupPromptContentString": {
            "type": "string",
            "max": 4096,
            "min": 0,
            "sensitive": true
        },
        "FollowupPromptEvent": {
            "type": "structure",
            "members": {
                "followupPrompt": { "shape": "FollowupPrompt" }
            },
            "event": true
        },
        "GenerateApproachInput": {
            "type": "structure",
            "required": ["originalFileContents", "task"],
            "members": {
                "originalFileContents": { "shape": "FileMetadataList" },
                "task": { "shape": "String" },
                "config": { "shape": "Config" }
            }
        },
        "GenerateApproachOutput": {
            "type": "structure",
            "required": ["conversationId"],
            "members": {
                "approach": { "shape": "String" },
                "background": { "shape": "String" },
                "conversationId": { "shape": "String" }
            }
        },
        "GenerateCodeInput": {
            "type": "structure",
            "required": ["originalFileContents", "task", "approach", "conversationId"],
            "members": {
                "originalFileContents": { "shape": "FileMetadataList" },
                "task": { "shape": "String" },
                "approach": { "shape": "String" },
                "lambdaFlowEnabled": { "shape": "Boolean" },
                "config": { "shape": "Config" },
                "conversationId": { "shape": "String" }
            }
        },
        "GenerateCodeOutput": {
            "type": "structure",
            "required": ["generationId"],
            "members": {
                "generationId": { "shape": "String" },
                "conversationId": { "shape": "String" }
            }
        },
        "GetCodeGenInteractionResultRequest": {
            "type": "structure",
            "required": ["conversationId"],
            "members": {
                "conversationId": { "shape": "ConversationId" }
            }
        },
        "GetCodeGenInteractionResultResponse": {
            "type": "structure",
            "required": ["conversationId", "codeGenStatus"],
            "members": {
                "conversationId": { "shape": "ConversationId" },
                "codeGenStatus": { "shape": "CodeGenStatus" },
                "generatedCodeSummary": { "shape": "String" },
                "generatedCode": { "shape": "SourceRepositoryFiles" }
            }
        },
        "GetCodeGenerationResultInput": {
            "type": "structure",
            "required": ["generationId", "conversationId"],
            "members": {
                "generationId": { "shape": "String" },
                "conversationId": { "shape": "String" }
            }
        },
        "GetCodeGenerationResultOutput": {
            "type": "structure",
            "required": ["codeGenerationStatus"],
            "members": {
                "codeGenerationStatus": { "shape": "CodeGenerationStatus" },
                "result": { "shape": "CodeGenerationResult" },
                "conversationId": { "shape": "String" }
            }
        },
        "GetCodeIterationResultInput": {
            "type": "structure",
            "required": ["generationId", "conversationId"],
            "members": {
                "generationId": { "shape": "String" },
                "conversationId": { "shape": "String" }
            }
        },
        "GetCodeIterationResultOutput": {
            "type": "structure",
            "required": ["codeGenerationStatus"],
            "members": {
                "codeGenerationStatus": { "shape": "CodeGenerationStatus" },
                "result": { "shape": "CodeGenerationResult" },
                "conversationId": { "shape": "String" }
            }
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InternalServerException": {
            "type": "structure",
            "required": ["message"],
            "members": {
                "message": { "shape": "String" }
            },
            "error": { "httpStatusCode": 500 },
            "exception": true,
            "fault": true,
            "retryable": { "throttling": false }
        },
        "InvalidInputException": {
            "type": "structure",
            "members": {
                "message": { "shape": "String" }
            },
            "error": {
                "httpStatusCode": 400,
                "senderFault": true
            },
            "exception": true
        },
        "IterateApproachInput": {
            "type": "structure",
            "required": ["originalFileContents", "task", "approach", "request", "conversationId"],
            "members": {
                "originalFileContents": { "shape": "FileMetadataList" },
                "task": { "shape": "String" },
                "approach": { "shape": "String" },
                "request": { "shape": "String" },
                "config": { "shape": "Config" },
                "conversationId": { "shape": "String" }
            }
        },
        "IterateApproachOutput": {
            "type": "structure",
            "members": {
                "conversationId": { "shape": "String" },
                "approach": { "shape": "String" }
            }
        },
        "IterateCodeInput": {
            "type": "structure",
            "required": ["originalFileContents", "task", "approach", "comment", "conversationId"],
            "members": {
                "originalFileContents": { "shape": "FileMetadataList" },
                "task": { "shape": "String" },
                "approach": { "shape": "String" },
                "comment": { "shape": "String" },
                "config": { "shape": "Config" },
                "conversationId": { "shape": "String" }
            }
        },
        "IterateCodeOutput": {
            "type": "structure",
            "required": ["generationId"],
            "members": {
                "generationId": { "shape": "String" },
                "conversationId": { "shape": "String" }
            }
        },
        "MessageMetadataEvent": {
            "type": "structure",
            "members": {
                "conversationId": { "shape": "MessageMetadataEventConversationIdString" }
            },
            "event": true
        },
        "MessageMetadataEventConversationIdString": {
            "type": "string",
            "max": 128,
            "min": 0
        },
        "Model": {
            "type": "string",
            "enum": [
                "anthropic-claude-v2",
                "anthropic-claude-instant-v1",
                "bedrock-claude-instant-v1",
                "bedrock-claude-v2"
            ]
        },
        "PlanningInteractionRequest": {
            "type": "structure",
            "required": ["conversationState", "workspaceState"],
            "members": {
                "conversationState": { "shape": "ConversationState" },
                "workspaceState": { "shape": "WorkspaceState" }
            }
        },
        "PlanningInteractionResponse": {
            "type": "structure",
            "members": {
                "planningResponseStream": { "shape": "ChatResponseStream" }
            },
            "payload": "planningResponseStream"
        },
        "Position": {
            "type": "structure",
            "required": ["line", "character"],
            "members": {
                "line": { "shape": "Integer" },
                "character": { "shape": "Integer" }
            }
        },
        "ProgrammingLanguage": {
            "type": "structure",
            "required": ["languageName"],
            "members": {
                "languageName": { "shape": "ProgrammingLanguageLanguageNameString" }
            }
        },
        "ProgrammingLanguageLanguageNameString": {
            "type": "string",
            "max": 128,
            "min": 1,
            "pattern": "(python|javascript|java|csharp|typescript|c|cpp|go|kotlin|php|ruby|rust|scala|shell|sql)"
        },
        "Range": {
            "type": "structure",
            "required": ["start", "end"],
            "members": {
                "start": { "shape": "Position" },
                "end": { "shape": "Position" }
            }
        },
        "Reference": {
            "type": "structure",
            "members": {
                "licenseName": { "shape": "ReferenceLicenseNameString" },
                "repository": { "shape": "ReferenceRepositoryString" },
                "url": { "shape": "ReferenceUrlString" },
                "recommendationContentSpan": { "shape": "Span" }
            }
        },
        "ReferenceLicenseNameString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "ReferenceRepositoryString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "ReferenceUrlString": {
            "type": "string",
            "max": 1024,
            "min": 1
        },
        "References": {
            "type": "list",
            "member": { "shape": "Reference" },
            "max": 10,
            "min": 0
        },
        "RuntimeDiagnostic": {
            "type": "structure",
            "required": ["source", "severity", "message"],
            "members": {
                "source": { "shape": "RuntimeDiagnosticSourceString" },
                "severity": { "shape": "DiagnosticSeverity" },
                "message": { "shape": "RuntimeDiagnosticMessageString" }
            }
        },
        "RuntimeDiagnosticMessageString": {
            "type": "string",
            "max": 1024,
            "min": 0,
            "sensitive": true
        },
        "RuntimeDiagnosticSourceString": {
            "type": "string",
            "max": 1024,
            "min": 0,
            "sensitive": true
        },
        "SourceRepositoryFiles": {
            "type": "list",
            "member": { "shape": "TextDocument" },
            "max": 100,
            "min": 0
        },
        "Span": {
            "type": "structure",
            "members": {
                "start": { "shape": "SpanStartInteger" },
                "end": { "shape": "SpanEndInteger" }
            }
        },
        "SpanEndInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "SpanStartInteger": {
            "type": "integer",
            "box": true,
            "min": 0
        },
        "StartCodeGenerationInteractionRequest": {
            "type": "structure",
            "required": ["conversationState", "workspaceState"],
            "members": {
                "conversationState": { "shape": "ConversationState" },
                "workspaceState": { "shape": "WorkspaceState" }
            }
        },
        "StartCodeGenerationInteractionResponse": {
            "type": "structure",
            "members": {
                "conversationId": { "shape": "ConversationId" }
            }
        },
        "StartConversationRequest": {
            "type": "structure",
            "members": {}
        },
        "StartConversationResponse": {
            "type": "structure",
            "required": ["conversationId"],
            "members": {
                "conversationId": { "shape": "ConversationId" }
            }
        },
        "String": { "type": "string" },
        "SupplementaryWebLink": {
            "type": "structure",
            "required": ["url", "title"],
            "members": {
                "url": { "shape": "SupplementaryWebLinkUrlString" },
                "title": { "shape": "SupplementaryWebLinkTitleString" },
                "snippet": { "shape": "SupplementaryWebLinkSnippetString" }
            }
        },
        "SupplementaryWebLinkSnippetString": {
            "type": "string",
            "max": 1024,
            "min": 1,
            "sensitive": true
        },
        "SupplementaryWebLinkTitleString": {
            "type": "string",
            "max": 1024,
            "min": 1,
            "sensitive": true
        },
        "SupplementaryWebLinkUrlString": {
            "type": "string",
            "max": 1024,
            "min": 1,
            "sensitive": true
        },
        "SupplementaryWebLinks": {
            "type": "list",
            "member": { "shape": "SupplementaryWebLink" },
            "max": 10,
            "min": 0
        },
        "SupplementaryWebLinksEvent": {
            "type": "structure",
            "members": {
                "supplementaryWebLinks": { "shape": "SupplementaryWebLinks" }
            },
            "event": true
        },
        "SymbolType": {
            "type": "string",
            "enum": ["DECLARATION", "USAGE"]
        },
        "TextDocument": {
            "type": "structure",
            "required": ["relativeFilePath"],
            "members": {
                "relativeFilePath": { "shape": "TextDocumentRelativeFilePathString" },
                "programmingLanguage": { "shape": "ProgrammingLanguage" },
                "text": { "shape": "TextDocumentTextString" },
                "documentSymbols": { "shape": "DocumentSymbols" }
            }
        },
        "TextDocumentDiagnostic": {
            "type": "structure",
            "required": ["document", "range", "source", "severity", "message"],
            "members": {
                "document": { "shape": "TextDocument" },
                "range": { "shape": "Range" },
                "source": { "shape": "TextDocumentDiagnosticSourceString" },
                "severity": { "shape": "DiagnosticSeverity" },
                "message": { "shape": "TextDocumentDiagnosticMessageString" }
            }
        },
        "TextDocumentDiagnosticMessageString": {
            "type": "string",
            "max": 1024,
            "min": 0,
            "sensitive": true
        },
        "TextDocumentDiagnosticSourceString": {
            "type": "string",
            "max": 1024,
            "min": 0,
            "sensitive": true
        },
        "TextDocumentRelativeFilePathString": {
            "type": "string",
            "max": 4096,
            "min": 1,
            "sensitive": true
        },
        "TextDocumentTextString": {
            "type": "string",
            "max": 10240,
            "min": 0,
            "sensitive": true
        },
        "UploadId": {
            "type": "string",
            "max": 128,
            "min": 1
        },
        "UploadIntent": {
            "type": "string",
            "enum": ["WeaverBirdPlanning", "WeaverBirdGeneration"]
        },
        "UserInputMessage": {
            "type": "structure",
            "required": ["content"],
            "members": {
                "content": { "shape": "UserInputMessageContentString" },
                "userInputMessageContext": { "shape": "UserInputMessageContext" },
                "userIntent": { "shape": "UserIntent" }
            }
        },
        "UserInputMessageContentString": {
            "type": "string",
            "max": 4096,
            "min": 0,
            "sensitive": true
        },
        "UserInputMessageContext": {
            "type": "structure",
            "members": {
                "editorState": { "shape": "EditorState" },
                "diagnostic": { "shape": "Diagnostic" }
            }
        },
        "UserIntent": {
            "type": "string",
            "enum": [
                "SUGGEST_ALTERNATE_IMPLEMENTATION",
                "APPLY_COMMON_BEST_PRACTICES",
                "IMPROVE_CODE",
                "SHOW_EXAMPLES",
                "CITE_SOURCES",
                "EXPLAIN_LINE_BY_LINE",
                "EXPLAIN_CODE_SELECTION"
            ]
        },
        "WorkspaceState": {
            "type": "structure",
            "required": ["uploadId", "programmingLanguage"],
            "members": {
                "uploadId": { "shape": "UploadId" },
                "programmingLanguage": { "shape": "ProgrammingLanguage" },
                "contextTruncationScheme": { "shape": "ContextTruncationScheme" }
            }
        }
    }
}
