.feature-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.2rem;

    border-color: #0097fb;
    box-sizing: border-box;
    width: 33%;

    padding: 2%;
}

.feature-panel-container-title {
    display: inline;
    font-size: 2vw;
    font-weight: bold;
}

.feature-panel-container-description {
    font-size: 1vw;
}

.service-item-content-image {
    height: 100%;
}

.feature-panel-container hr {
    border: none;
    height: 1px;
    background-color: var(--vscode-descriptionForeground);
    width: 100%;
}

.feature-panel-form-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1.2vw;
}

.collapsible-title {
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.collapsible-description {
    font-weight: bold;
    font-size: 0.8vw;
}
