.feature-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-color: var(--vscode-descriptionForeground);
    box-sizing: border-box;
    height: fit-content;
    gap: 1.2em;
    width: 33%;
    padding: 1.5em;
}

.feature-panel-container-title {
    display: inline;
    font-size: 1.7rem;
    font-weight: bold;
}

.feature-panel-container-description {
    font-size: 1rem;
}

.service-item-content-image {
    height: 100%;
    border-radius: 1rem;
}

.feature-panel-container hr {
    background-color: var(--vscode-descriptionForeground);
    width: 100%;
}

.feature-panel-form-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1.2rem;
}

.collapsible-title {
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: left;
    user-select: none;
}

.collapsible-description {
    font-weight: bold;
    font-size: 0.8rem;
    user-select: none;
}
