.auth-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--vscode-foreground);
}

/* A grouping of related elements in an auth form */
.auth-form .form-section {
    margin-top: 0.6em;

    display: flex;
    flex-direction: column;
}

/* Consistent margins between the elements of a grouping of elements */
.auth-form .form-section > * {
    margin-top: 0.3em;
}

/* Consistent margins between the elements of a grouping of elements */
.auth-form .form-section > button {
    /* margin-top: 1em; */
    padding: 0.4em;
    border-radius: 0.5rem;
}

.auth-form-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.auth-form-description {
    font-size: 0.9rem;
}

.input-title {
    font-size: 1rem;
}

.form-description-color {
    color: var(--vscode-descriptionForeground);
}

.input-description-small {
    font-size: 0.8rem;
}

.edit-icon {
    color: #0078d7;
}

.error-text {
    color: #f14c4c;
    font-size: 0.8rem;
}

input[data-invalid='true'] {
    /* Using important since base.css overrides these errors */
    /* TODO: If I can get base.css to be resolved before this the important is not needed */
    border: 1px solid !important;
    border-color: #f14c4c !important;
}

/* When an input box is clicked and has invalid data*/
input[data-invalid='true']:focus {
    /* Ensures the border stays red even when selected */
    outline: none !important;
}

.auth-form .form-section input {
    font-size: 1rem;
    padding: 0.5em;
}

/* Remove underline from anchor elements */
a {
    text-decoration: none;
}
