.auth-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--vscode-foreground);

    padding: 10px;
}

.disabled-form {
    pointer-events: none;
    filter: grayscale(100%);
    opacity: 0.6;
}

/* A grouping of related elements in an auth form */
.auth-form .form-section {
    margin-top: 15px;

    display: flex;
    flex-direction: column;
}

/* Consistent margins between the elements of a grouping of elements */
.auth-form .form-section > * {
    margin-top: 3px;
}

/* Consistent margins between the elements of a grouping of elements */
.auth-form .form-section > button {
    margin-top: 3px;
}

.auth-form-title {
    font-size: 14px;
    font-weight: bold;
}

.input-title {
    font-size: 12px;
}

.small-description {
    font-size: 10px;
    color: var(--vscode-descriptionForeground);
}

.edit-icon {
    color: #0078d7;
}

.error-text {
    color: #f14c4c;
    font-size: 12px;
}

input[data-invalid='true'] {
    /* Using important since base.css overrides these errors */
    /* TODO: If I can get base.css to be resolved before this the important is not needed */
    border: 1px solid !important;
    border-color: #f14c4c !important;
}

/* When an input box is clicked and has invalid data*/
input[data-invalid='true']:focus {
    /* Ensures the border stays red even when selected */
    outline: none !important;
}

/* Remove underline from anchor elements */
a {
    text-decoration: none;
}
